<div
  style="height: 70vh;"
  class="d-flex flex-column align-items-center justify-content-center py-5 mt-5">

  <div>
    <div class="road-animation">
      <div class="road-line"></div>
      <div class="road-line"></div>
    </div>

    <div class="container text-center">
      <div class="error-code">{{ 'notFound.errorCode' | translate }}</div>
      <h1 class="title">{{ 'notFound.title' | translate }}</h1>
      <p class="subtitle">{{ 'notFound.subtitle' | translate }}</p>

      <div class="buttons">
        <button class="btn btn-secondary" (click)="goBack()">
          {{ 'notFound.buttons.goBack' | translate }}
        </button>
        <button class="btn btn-primary" (click)="goHome()">
          {{ 'notFound.buttons.home' | translate }}
        </button>
      </div>
    </div>
  </div>

</div>
