<div class="bg-white w-100">
  <div class="d-flex flex-row justify-content-around align-items-center">
    <!-- Home Tab -->
    <div
      class="d-flex flex-column justify-content-center align-items-center tab-item"
      routerLink="/home"
      routerLinkActive="active">
      <i class="fs-5 bi bi-house-fill" style="height: 24px; width: 24px; font-size: 24px; color: var(--primary-color-500);"></i>
      <p class="fw-semibold tab-text">Home</p>
    </div>

    <!-- Bookings Tab -->
    <div
      class="d-flex flex-column justify-content-center align-items-center tab-item"
      routerLink="user-profile/bookings"
      routerLinkActive="active">
      <i class="fs-5 bi bi-calendar-check-fill" style="height: 24px; width: 24px; font-size: 24px; color: var(--primary-color-500);"></i>
      <p class="fw-semibold tab-text">Bookings</p>
    </div>

    <!-- Help Tab -->
    <div
      class="d-flex flex-column justify-content-center align-items-center tab-item"
      routerLink="/support"
      routerLinkActive="active">
      <i class="fs-5 bi bi-question-circle-fill" style="height: 24px; width: 24px; font-size: 24px; color: var(--primary-color-500);"></i>
      <p class="fw-semibold tab-text">Help</p>
    </div>

    <!-- Account Tab -->
    <div
      (click)="visible = true"
      class="d-flex flex-column justify-content-center align-items-center tab-item"
      style="cursor: pointer;">
      <i class="fs-5 bi bi-person-circle" style="height: 24px; width: 24px; font-size: 24px; color: var(--primary-color-500);"></i>
      <p class="fw-semibold tab-text">Account</p>
    </div>
  </div>
</div>
<p-drawer
  [(visible)]="visible"
  [style]="{ height: '300px' }"
  header="Account"
  icon="bi bi-person"
  position="bottom">

  <div class="drawer-list-group w-100">
    <a
      (click)="visible = false"
      class="drawer-list-item"
      routerLink="/ticket">
      <i class=" fs-5 bi me-2 bi-printer"></i>
      Print Ticket
    </a>
    <a
      (click)="visible = false"
      *ngIf="!loggedIn"
      class="drawer-list-item"
      routerLink="/login">
      <i class="fs-5 bi me-2 bi-box-arrow-in-right"></i>
      Log in
    </a>
    <a
      (click)="visible = false"
      *ngIf="!loggedIn"
      class="drawer-list-item"
      routerLink="/sign-up">
      <i class="fs-5 bi me-2 bi-person-plus"></i>
      Sign Up
    </a>

    <a
      (click)="visible = false"
      *ngIf="loggedIn"
      class="drawer-list-item"
      routerLink="/user-profile/account">
      <i class="fs-5 bi me-2 bi-person-gear"></i>
      Account
    </a>

    <a
      (click)="visible = false"
      *ngIf="loggedIn"
      class="drawer-list-item"
      routerLink="user-profile/wallet">
      <i
        class=" fs-5 bi me-2 bi-wallet2"></i>
      Wallet
    </a>

    <a
      (click)="visible = false"
      *ngIf="loggedIn"
      class="drawer-list-item"
      routerLink="user-profile/change-password">
      <i
        class=" fs-5 bi me-2 bi-key"></i>
      Change Password
    </a>

    <a
      (click)="logout();visible = false"
      *ngIf="loggedIn"
      class="drawer-list-item text-danger-emphasis ">
      <i class="fs-5 bi me-2 bi-box-arrow-right"></i>
      Logout
    </a>

  </div>
</p-drawer>
