<!--bottom-nav.html-->
<div class="bg-bottom-nav w-100">
  <div class="d-flex flex-row bg-bottom-nav justify-content-around align-items-center">
    <!-- Home Tab -->
    <div
      class="d-flex flex-column justify-content-center align-items-center tab-item"
      routerLink="/home"
      routerLinkActive="active">
      <i class="fs-4 bi bi-house-door-fill" style="height: 24px; width: 24px; font-size: 24px; color:var(--primary-color-100);"></i>
      <p class="fw-semibold tab-text">{{ 'bottomNav.home' | translate }}</p>
    </div>

    <!-- Print Ticket Tab -->
    <div
      class="d-flex flex-column justify-content-center align-items-center tab-item"
      routerLink="/ticket"
      routerLinkActive="active">
      <i class="fs-4 bi bi-printer-fill" style="height: 24px; width: 24px; font-size: 24px; color: var(--primary-color-100);"></i>
      <p class="fw-semibold tab-text">{{ 'bottomNav.printTicket' | translate }}</p>
    </div>

    <!-- Help Tab -->
    <div
      class="d-flex flex-column justify-content-center align-items-center tab-item"
      routerLink="/support"
      routerLinkActive="active">
      <i class="fs-4 bi bi-question-circle-fill" style="height: 24px; width: 24px; font-size: 24px;  color: var(--primary-color-100);"></i>
      <p class="fw-semibold tab-text">{{ 'bottomNav.help' | translate }}</p>
    </div>

    <!-- Account Tab -->
    <div
      (click)="visible = true"
      class="d-flex flex-column justify-content-center align-items-center tab-item"
      style="cursor: pointer;">
      <i class="fs-4 bi bi-person-circle" style="height: 24px; width: 24px; font-size: 24px; color: var(--primary-color-100);"></i>
      <p class="fw-semibold tab-text">{{ 'bottomNav.account' | translate }}</p>
    </div>
  </div>
</div>

<p-drawer
  [(visible)]="visible"
  [style]="{ height: '350px' }"
  header="{{ 'bottomNav.account' | translate }}"
  icon="bi bi-person"
  position="bottom">

  <div class="drawer-list-group w-100">
    <a
      (click)="visible = false"
      *ngIf="!loggedIn"
      class="drawer-list-item"
      routerLink="/login">
      <i class="fs-4 bi me-2 bi-box-arrow-in-right"></i>
      {{ 'bottomNav.login' | translate }}
    </a>
    <a
      (click)="visible = false"
      *ngIf="!loggedIn"
      class="drawer-list-item"
      routerLink="/sign-up">
      <i class="fs-4 bi me-2 bi-person-plus"></i>
      {{ 'bottomNav.signUp' | translate }}
    </a>

    <a
      (click)="visible = false"
      *ngIf="loggedIn"
      class="drawer-list-item"
      routerLink="/user-profile/account">
      <i class="fs-4 bi me-2 bi-person-gear"></i>
      {{ 'bottomNav.account' | translate }}
    </a>

    <a
      (click)="visible = false"
      *ngIf="loggedIn"
      class="drawer-list-item"
      routerLink="/user-profile/bookings">
      <i class="fs-4 bi me-2 bi-person-gear"></i>
      {{ 'bottomNav.booking' | translate }}
    </a>

    <a
      (click)="visible = false"
      *ngIf="loggedIn"
      class="drawer-list-item"
      routerLink="user-profile/wallet">
      <i class="fs-4 bi me-2 bi-wallet2"></i>
      {{ 'bottomNav.wallet' | translate }}
    </a>

    <a
      (click)="visible = false"
      *ngIf="loggedIn"
      class="drawer-list-item"
      routerLink="user-profile/change-password">
      <i class="fs-4 bi me-2 bi-key"></i>
      {{ 'bottomNav.changePassword' | translate }}
    </a>

    <a
      (click)="logout();visible = false"
      *ngIf="loggedIn"
      class="drawer-list-item text-danger-emphasis ">
      <i class="fs-4 bi me-2 bi-box-arrow-right"></i>
      {{ 'bottomNav.logout' | translate }}
    </a>
  </div>
</p-drawer>
