.modal-custom-small {
  max-width: 420px !important;
}
.tiny-swal {
  font-size: 12px !important;
  padding: 5px 10px !important;
  min-height: 60px !important;
  max-height: 80px !important;
}

.tiny-icon {
  width: 30px !important; /* Super small icon */
  height: 30px !important;
  font-size: 16px !important;
  line-height: 30px !important;
}


// Force modal to appear above PrimeNG drawer
.modal.show {
  z-index: 2000 !important; // higher than Drawer
}

.modal-backdrop.show {
  background-color: rgba(0, 0, 0, 0.85) !important; // darker background
  z-index: 1999 !important; // keep it under the modal but above drawer
}
