<div>
  <div class="search-section">
    <div class="container d-flex flex-row justify-content-between align-items-center w-100">
      <!-- Breadcrumb -->
      <p-breadcrumb
        [style]="{'background': 'transparent'}"
        class="bg-transparent"
        [model]="items"
        [home]="home">
        <ng-template pTemplate="item" let-item let-index="index">
          <!-- Home breadcrumb -->
          <p
            *ngIf="index === 0; else otherItems"
            [routerLink]="['/', item.routerLink]"
            routerLinkActive="active-crumb"
            [routerLinkActiveOptions]="{ exact: true }"
            class="cursor-pointer active-crumb"
          >
            {{ item.label || item.text }}
          </p>

          <!-- Other breadcrumbs -->
          <ng-template #otherItems>
            <a
              [routerLink]="item.routerLink"
              routerLinkActive="active-crumb"
              style="text-decoration: none;"
              class="cursor-pointer nav-item"
              (click)="toggleForm()"
            >
              {{ item.label || item.text }}
            </a>
          </ng-template>
        </ng-template>

        <ng-template pTemplate="separator">
          <span> > </span>
        </ng-template>
      </p-breadcrumb>

      <!-- filter section -->
      <app-search-refine-filters
        (filterChangeEmitter)="getFilterChanges($event)">
      </app-search-refine-filters>
    </div>

    <div *ngIf="isFormOpen" class="py-4 container">
      <app-shared-search></app-shared-search>
    </div>
  </div>

  <div class="search-results-section">
    <div class="container py-3">
      <div class="row">
        <div class="col-12">
          <app-search-results [isLoading]="isLoading" [data]="buses"></app-search-results>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Drawer -->
<p-drawer header="{{ 'drawer.sortFilterTitle' | translate }}"
          size="small"
          [(visible)]="filterVisible"
          position="bottom"
          [style]="{ height: 'auto', overflow: 'auto' }">

  <p-tabs value="0">
    <p-tablist>
      <p-tab value="0">{{ 'tabs.priceRange' | translate }}</p-tab>
      <p-tab value="1">{{ 'tabs.duration' | translate }}</p-tab>
      <p-tab value="2">{{ 'tabs.services' | translate }}</p-tab>
    </p-tablist>

    <p-tabpanels>
      <!-- Price Range -->
      <p-tabpanel value="0">
        <h5 class="fs-6 fw-bold mb-2 text-muted">{{ 'priceRange.title' | translate }}</h5>
        <div class="container p-3">
          <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>
          <div class="d-flex justify-content-between mt-1 text-dark">
            <span class="text-dark">{{ minValue | currency:'KES ' }}</span>
            <span class="text-dark">{{ maxValue | currency:'KES ' }}</span>
          </div>
        </div>
      </p-tabpanel>

      <!-- Duration -->
      <p-tabpanel value="1">
        <div class="card-body">
          <h5 class="fs-6 fw-bold mb-4 text-muted">{{ 'duration.title' | translate }}</h5>
          <label *ngFor="let duration of durations"
                 class="form-check d-flex align-items-center justify-content-between border-bottom py-2 w-100 mb-0">
            <div class="d-flex align-items-center">
              <i [class]="duration.icon + ' fs-4 me-3'"></i>
              <span class="fw-semibold mb-0">{{ duration.label }}</span>
            </div>
            <input class="form-check-input-lg"
                   type="radio"
                   name="duration"
                   [value]="duration.value"
                   [(ngModel)]="selectedDuration">
          </label>
        </div>
      </p-tabpanel>

      <!-- Services -->
      <p-tabpanel value="2">
        <div>
          <h5 class="fs-6 fw-bold mb-2 text-muted">{{ 'services.title' | translate }}</h5>
          <label *ngFor="let service of services"
                 class="form-check d-flex align-items-center justify-content-between border-bottom py-2 w-100 mb-0">
            <div class="d-flex align-items-center">
              <i [class]="service.icon + ' fs-4 me-3'"></i>
              <span class="fw-semibold fs-6 mb-0">{{ service.label }}</span>
            </div>
            <input class="form-check-input-lg" type="checkbox" [(ngModel)]="service.checked">
          </label>
        </div>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>

  <!-- Clear & Save -->
  <div class="row p-3">
    <div class="col-6">
      <p-button label="{{ 'actions.clear' | translate }}"
                (click)="filterVisible = false"
                size="large"
                styleClass="p-button-outlined p-button-secondary p-button-rounded w-100">
      </p-button>
    </div>
    <div class="col-6">
      <p-button label="{{ 'actions.save' | translate }}"
                (click)="filterVisible = false"
                size="large"
                styleClass="p-button-rounded w-100">
      </p-button>
    </div>
  </div>
</p-drawer>
