.search-section {
  //padding-top:10px;
  padding-top:80px;
  background-color: var(--background-color);
  color: #1f2f35 !important;
}

.search-results-section{
  //background-color: var(--gray-100);
}
::ng-deep .p-drawer-title {
  padding: 0.25rem 1rem;   /* smaller vertical padding */
  font-size: 1.125rem;       /* smaller font */
  min-height: 2rem;        /* shrink the header height */
}

.active-crumb {
  //font-weight: meduim;
  color: var(--primary-color-600); /* Bootstrap primary */
  text-decoration: underline;
}
