<!-- Tab Navigation -->
<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-12 p-0">
      <div class="card p-0">
        <div class="card-header p-0">
          <nav class="nav nav-tabs card-header-tabs" role="tablist">
            <button
              (click)="getTripData('upcoming')"
              [class.active]="activeTab === 'upcoming'"
              class="nav-link"
              type="button">
              <i class="fas fa-clock me-2"></i>
              {{ 'myTripsPage.tabs.upcoming' | translate }}
            </button>
            <button
              (click)="getTripData('completed')"
              [class.active]="activeTab === 'completed'"
              class="nav-link"
              type="button">
              <i class="fas fa-check-circle me-2"></i>
              {{ 'myTripsPage.tabs.completed' | translate }}
            </button>
          </nav>
        </div>

        <div class="card-body px-0">
          <div *ngFor="let booking of data" class="booking-row">


            <!-- Ticket Details -->
            <div class="ticket-container">

              <!-- Header: Name, Reference & Status -->
              <div class="row-header">
                <div class="passenger-info">
                  <span class="passenger-name">{{ booking.name }}</span>
                  <div class="d-flex flex-row gap-1 align-items-baseline">
                    <span class="field-label">Seat</span>
                    <span class="field-value ">{{ booking.seat_name }}</span>
                  </div>
                  <span class=" booking-ref">Ticket Number :<span class="fw-semibold">{{ booking.ticket_number }}</span></span>
                  <!--                  <span class="booking-ref">Booking  Reference :<span-->
                  <!--                    class="fw-semibold">{{ booking.booking_reference }}</span></span>-->
                </div>
                <div class="d-flex flex-column gap-1">
                  <div class="ticket-field">
                    <span class="field-label">Amount</span>
                    <span class="field-value amount">{{ booking.currency_code }} {{ booking.total_amount }}</span>
                  </div>

                  <span [class.status-confirmed]="booking.status === 'Confirmed'"
                        [class.status-pending]="booking.status === 'Pending'"
                        class="status-badge">
        {{ 'myTripsPage.status.' + booking.status.toLowerCase() | translate }}
      </span>
                </div>

              </div>

              <!-- Route Info -->
              <div class="ticket-header">
                <div class="route-section">
                  <div class="city-block">
                    <span class="city-name">{{ booking.pickup_city }}</span>
                    <i class="fas fa-arrow-right"></i>
                    <span class="city-name">{{ booking.drop_city }}</span>
                  </div>
                  <div class="d-flex flex-row gap-4 align-items-baseline">
                    <div class="operator-name">{{ booking.company_name }}</div>
                    <div class="d-flex flex-row gap-1 align-items-baseline">
                      <span class="field-label">Bus Type :</span>
                      <span class="field-value">{{ booking.bus_type | titlecase }}</span>
                    </div>
                  </div>

                </div>
              </div>


              <!-- Action Buttons -->
              <div class="action-row">
                <p-button (click)="showDialog(booking)" label="View More details"/>


                <!--                <button class="btn-action btn-primary" type="button">-->
                <!--                  <i class="fas fa-eye"></i>-->
                <!--                  {{ 'myTripsPage.actions.view' | translate }}-->
                <!--                </button>-->
                <button *ngIf="booking.status === 'Confirmed'" class="btn-action btn-success" type="button">
                  <i class="fas fa-download"></i>
                  <!--                  {{ 'myTripsPage.actions.download' | translate }}-->
                  Reschedule
                </button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '385px' }" header="Ticket Details">
  <ng-container *ngIf="selectedBooking && selectedBooking.name">
    <div>
      <span
        class="rounded-pill bg-primary-subtle text-primary-emphasis p-1">{{ selectedBooking.booking_date | date : 'EEE MMM yy' }}</span>
    </div>
    <div class="">
      <!-- Header: Name, Reference & Status -->
      <div class="row-header">
        <div class="passenger-info">
          <span class="passenger-name">{{ selectedBooking.name }}</span>
          <div class="d-flex flex-row gap-1 align-items-baseline">
            <span class="field-label">Seat</span>
            <span class="field-value ">{{ selectedBooking.seat_name }}</span>
          </div>
          <span class=" booking-ref">Ticket Number :<span
            class="fw-semibold">{{ selectedBooking.ticket_number }}</span></span>
          <span class="booking-ref">Booking  Reference :<span
            class="fw-semibold">{{ selectedBooking.booking_reference }}</span></span>
        </div>
        <div class="d-flex flex-column gap-1">
          <div class="ticket-field">
            <span class="field-label">Amount</span>
            <span
              class="field-value amount">{{ selectedBooking.currency_code }} {{ selectedBooking.total_amount }}</span>
          </div>

          <span [class.status-confirmed]="selectedBooking.status === 'Confirmed'"
                [class.status-pending]="selectedBooking.status === 'Pending'"
                class="status-badge">
        {{ 'myTripsPage.status.' + selectedBooking.status.toLowerCase() | translate }}
      </span>
        </div>

      </div>

      <!-- Route Info -->
      <div class="ticket-header">
        <div class="route-section">
          <div class="city-block">
            <span class="city-name">{{ selectedBooking.pickup_city }}</span>
            <i class="fas fa-arrow-right"></i>
            <span class="city-name">{{ selectedBooking.drop_city }}</span>
          </div>
          <div class="d-flex flex-row gap-4 align-items-baseline">
            <div class="operator-name">{{ selectedBooking.company_name }}</div>
            <div class="d-flex flex-row gap-1 align-items-baseline">
              <span class="field-label">Bus Type :</span>
              <span class="field-value">{{ selectedBooking.bus_type | titlecase }}</span>
            </div>
          </div>

        </div>
      </div>

      <!--      Booking Details Grid-->
      <div class="ticket-body">
        <div class="body-row">
          <div class="ticket-field">
            <span class="field-label">Boarding Point</span>
            <span class="field-value fs-6">{{ selectedBooking.boarding_point }}</span>
          </div>
          <div class="ticket-field">
            <span class="field-label">Date & Time</span>
            <span class="field-value fs-6">
                            {{ selectedBooking.booking_date | date:'MMM dd' }} • {{ selectedBooking.boarding_time }}
                      </span>
          </div>
        </div>
      </div>


    </div>
  </ng-container>
</p-dialog>



