<div class="app-container">
  <div class="forgot-password-container">
    <div class="row">
      <div class="col-12">
        <div class="background-color shadow-sm p-4 rounded">
          <div>
            <p class="fw-semibold fs-4">
              Forgot Password
            </p>
          </div>

          <form [formGroup]="form" class="mt-5" (ngSubmit)="onSubmit()">
            <div class="row g-4">

              <!-- Phone with Country Code (Joined Input) -->
              <div class="mt-2 col-12">
                <div class="d-flex flex-column gap-1">
                  <label for="phone">{{ 'login.labels.phoneNumber' | translate }}</label>
                  <div class="input-group joined-inputs">
                    <select class="form-select w-auto"
                            formControlName="country_code"
                            style="max-width: 100px;">
                      <option [value]="item" *ngFor="let item of codes" [ngValue]="item.value">{{item.label}}</option>
                    </select>

                    <input formControlName="phone"
                           id="phone"
                           type="tel"
                           class="form-control"
                           inputmode="tel"
                           placeholder="{{ 'login.placeholders.phoneNumber' | translate }}"
                           pattern="^\+?[0-9\s\-]{7,15}$">
                  </div>

                  <small *ngIf="form.get('country_code')?.touched && form.get('country_code')?.errors?.['required']"
                         class="text-danger">
                    {{ 'login.validation.codeRequired' | translate }}
                  </small>
                  <small *ngIf="form.get('phone')?.touched && form.get('phone')?.errors?.['required']"
                         class="text-danger">
                    {{ 'login.validation.phoneRequired' | translate }}
                  </small>
                </div>
              </div>

              <!-- Sign in link -->
              <div class="col-12 mt-2">
                <div class="d-flex align-content-end">
                  <div class="text-end w-100">
                    <p class="link-underline" routerLink="/login">
                      Sign in
                    </p>
                  </div>
                </div>
              </div>

              <!-- Request OTP -->
              <div class="mt-2 col-12">
                <button [disabled]="form.invalid"
                        class="btn btn-primary rounded-pill w-100">
                  Request OTP
                </button>
              </div>

            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
