<div class="app-container">
  <div class="forgot-password-container">
    <div class = "row">
      <div class=" col-12">
        <div class="background-color shadow-sm p-4 rounded">
          <div>
            <p class="fw-semibold fs-4">
             Forgot Password
            </p>
          </div>

          <form [formGroup] = form   class="mt-5"  (ngSubmit)="onSubmit()">
            <div class="row g-4">
              <!-- Code -->
              <div class="mt-2 col-4">
                <div class="d-flex flex-column gap-1">
                  <label for="code">{{ 'login.labels.code' | translate }}</label>
                  <p-select [options]="codes"
                            formControlName="country_code"
                            id="code"
                            optionLabel="label"
                            optionValue="value"
                            placeholder="{{ 'login.placeholders.code' | translate }}"
                            class="w-100 p-dropdown-sm">
                  </p-select>
                  <small *ngIf="form.get('country_code')?.touched && form.get('country_code')?.errors?.['required']"
                         class="text-danger">
                    {{ 'login.validation.codeRequired' | translate }}
                  </small>
                </div>
              </div>
              <!-- Phone Number -->
              <div class="mt-2 col-8">
                <div class="d-flex flex-column gap-1">
                  <label for="phone">{{ 'login.labels.phoneNumber' | translate }}</label>
                  <input formControlName="phone"
                         id="phone"
                         type="tel"
                         class="w-100 form-control p-2"
                         inputmode="tel"
                         placeholder="{{ 'login.placeholders.phoneNumber' | translate }}"
                         pattern="^\+?[0-9\s\-]{7,15}$">
                  <small *ngIf="form.get('phone')?.touched && form.get('phone')?.errors?.['required']"
                         class="text-danger">
                    {{ 'login.validation.phoneRequired' | translate }}
                  </small>
                </div>
              </div>
              <div class="col-12 mt-2">
                <div class="d-flex align-content-end">
                  <div class="text-end w-100">
                    <p  class="link-underline" routerLink="/login">
                      Sign in
                    </p>
                  </div>


                </div>
              </div>
<!--              Resues OTP-->
              <div class=" mt-2 col-12">
                <button
                  [disabled]="form.invalid"
             class="btn btn-primary rounded-pill w-100">
                  Request OTP
                </button>
              </div>



            </div>


          </form>
        </div>

      </div>
    </div>
  </div>
</div>
