.text-danger {
  color: #dc3545;
}

h2 {
  color: #333;
  font-size: 1.75rem;
}

li {
  color: #555;
  font-size: 0.9rem;
}

.container-fluid {
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}

.border-bottom {
  border-bottom: 1px solid #dee2e6;
}

.accordion{
  max-width: 700px;
}
.accordion-item{
  border:none;
  background-color: white;
  gap: 2rem;
}

.accordion-button {
  //background-color: #EFEFEF;
  //border-bottom: 1px #cdcdcd solid;

  padding:0.6rem 0.5rem;
  &:focus, &:active, &:not(.collapsed) {
    background-color: #EFEFEF;
    color: #FF725E;
    font-weight: bold;
  }
}

.route {
  border-bottom: 1px #cdcdcd solid;
  //padding: 0.5rem;
  width: 1200px;
  max-width:40%;
}

