
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
      <div class="background-color shadow-sm p-4  rounded-3">
        <div>
          <p class="fw-semibold fs-4">Change Password</p>
        </div>
        <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
          <div class="row align-items-end gy-3">
            <!-- Old Password -->
            <div class="col-12 col-md-4 col-lg-3">
              <div class="">
                <label for="oldPassword" class="form-label">Old Password:</label>
                <input
                  type="password"
                  id="oldPassword"
                  formControlName="oldPassword"
                  class="form-control"
                  [ngClass]="{
            'is-invalid': passwordForm.get('oldPassword')?.invalid &&
              passwordForm.get('oldPassword')?.touched
          }"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="
            passwordForm.get('oldPassword')?.invalid &&
            passwordForm.get('oldPassword')?.touched
          "
                >
                  Old password is required
                </div>
              </div>
            </div>

            <!-- New Password -->
            <div class="col-12 col-md-4 col-lg-3">
              <div class="">
                <label for="newPassword" class="form-label">New Password:</label>
                <input
                  type="password"
                  id="newPassword"
                  formControlName="newPassword"
                  class="form-control"
                  [ngClass]="{
            'is-invalid': passwordForm.get('newPassword')?.invalid &&
              passwordForm.get('newPassword')?.touched
          }"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="
            passwordForm.get('newPassword')?.invalid &&
            passwordForm.get('newPassword')?.touched
          "
                >
          <span *ngIf="passwordForm.get('newPassword')?.errors?.['required']">
            New password is required
          </span>
                  <span *ngIf="passwordForm.get('newPassword')?.errors?.['minlength']">
            Password must be at least 8 characters
          </span>
                </div>
              </div>
            </div>

            <!-- Confirm Password -->
            <div class="col-12 col-md-4 col-lg-3">
              <div class="">
                <label for="confirmPassword" class="form-label">Confirm Password:</label>
                <input
                  type="password"
                  id="confirmPassword"
                  formControlName="confirmPassword"
                  class="form-control"
                  [ngClass]="{
            'is-invalid': passwordForm.get('confirmPassword')?.invalid &&
              passwordForm.get('confirmPassword')?.touched
          }"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="
            passwordForm.get('confirmPassword')?.invalid &&
            passwordForm.get('confirmPassword')?.touched
          "
                >
          <span
            *ngIf="passwordForm.get('confirmPassword')?.errors?.['required']"
          >
            Please confirm your password
          </span>
                  <span
                    *ngIf="passwordForm.get('confirmPassword')?.errors?.['mismatch']"
                  >
            Passwords do not match
          </span>
                </div>
              </div>
            </div>

            <!-- Submit Button -->
            <div class="col-12 col-md-4 col-lg-3">
              <div class="d-grid ">
                <button
                  type="submit"
                  class="btn btn-primary rounded-pill"
                  [disabled]="passwordForm.invalid"
                >
                  Submit
                </button>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>

