<div class="row">
  <div class="col-12">
    <div class="background-color shadow-sm p-4 rounded-3">

      <!-- Title -->
      <div>
        <p class="fw-semibold fs-4">
          {{ 'changePassword.title' | translate }}
        </p>
      </div>

      <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <div class="row align-items-end gy-3">

          <!-- Old Password -->
          <div class="col-12 col-md-4 col-lg-3">
            <label for="oldPassword" class="form-label">
              {{ 'changePassword.labels.oldPassword' | translate }}:
            </label>
            <input
              type="password"
              id="oldPassword"
              formControlName="oldPassword"
              class="form-control"
              [placeholder]="
                'changePassword.placeholders.oldPassword' | translate
              "
              [ngClass]="{
                'is-invalid':
                  passwordForm.get('oldPassword')?.invalid &&
                  passwordForm.get('oldPassword')?.touched
              }"
            />
            <div
              class="invalid-feedback"
              *ngIf="
                passwordForm.get('oldPassword')?.invalid &&
                passwordForm.get('oldPassword')?.touched
              "
            >
              {{ 'changePassword.errors.oldPasswordRequired' | translate }}
            </div>
          </div>

          <!-- New Password -->
          <div class="col-12 col-md-4 col-lg-3">
            <label for="newPassword" class="form-label">
              {{ 'changePassword.labels.newPassword' | translate }}:
            </label>
            <input
              type="password"
              id="newPassword"
              formControlName="newPassword"
              class="form-control"
              [placeholder]="
                'changePassword.placeholders.newPassword' | translate
              "
              [ngClass]="{
                'is-invalid':
                  passwordForm.get('newPassword')?.invalid &&
                  passwordForm.get('newPassword')?.touched
              }"
            />
            <div
              class="invalid-feedback"
              *ngIf="
                passwordForm.get('newPassword')?.invalid &&
                passwordForm.get('newPassword')?.touched
              "
            >
              <span
                *ngIf="passwordForm.get('newPassword')?.errors?.['required']"
              >
                {{ 'changePassword.errors.newPasswordRequired' | translate }}
              </span>
              <span
                *ngIf="passwordForm.get('newPassword')?.errors?.['minlength']"
              >
                {{ 'changePassword.errors.newPasswordMinLength' | translate }}
              </span>
            </div>
          </div>

          <!-- Confirm Password -->
          <div class="col-12 col-md-4 col-lg-3">
            <label for="confirmPassword" class="form-label">
              {{ 'changePassword.labels.confirmPassword' | translate }}:
            </label>
            <input
              type="password"
              id="confirmPassword"
              formControlName="confirmPassword"
              class="form-control"
              [placeholder]="
                'changePassword.placeholders.confirmPassword' | translate
              "
              [ngClass]="{
                'is-invalid':
                  passwordForm.get('confirmPassword')?.invalid &&
                  passwordForm.get('confirmPassword')?.touched
              }"
            />
            <div
              class="invalid-feedback"
              *ngIf="
                passwordForm.get('confirmPassword')?.invalid &&
                passwordForm.get('confirmPassword')?.touched
              "
            >
              <span
                *ngIf="passwordForm.get('confirmPassword')?.errors?.['required']"
              >
                {{ 'changePassword.errors.confirmPasswordRequired' | translate }}
              </span>
              <span
                *ngIf="passwordForm.get('confirmPassword')?.errors?.['mismatch']"
              >
                {{ 'changePassword.errors.passwordMismatch' | translate }}
              </span>
            </div>
          </div>

          <!-- Submit Button -->
          <div class="col-12 col-md-4 col-lg-3">
            <button
              type="submit"
              class="btn btn-primary rounded-pill"
              [disabled]="passwordForm.invalid"
            >
              {{ 'changePassword.buttons.submit' | translate }}
            </button>
          </div>

        </div>
      </form>

    </div>
  </div>
</div>
