<div class="w-100 p-2 px-4 bg-white shadow-sm rounded-5">
  <div class="row">
    <!-- Trip Type Toggle -->
    <div class="col-12 col-md-6 col-lg-3 p-0">
      <div class="pb-2 d-flex flex-row gap-4 py-2">
        <div class="form-check">
          <input
            (change)="setTripType('onward')"
            [checked]="tripType === 'onward'"
            class="form-check-input"
            id="onward"
            name="tripType"
            type="radio">
          <label class="form-check-label fs-5" for="onward">
            {{ 'search.tripType.oneWay' | translate }}
          </label>
        </div>
        <div class="form-check">
          <input
            (change)="setTripType('twoway')"
            [checked]="tripType === 'twoway'"
            class="form-check-input"
            id="roundTrip"
            name="tripType"
            type="radio">
          <label class="form-check-label fs-5" for="roundTrip">
            {{ 'search.tripType.roundTrip' | translate }}
          </label>
        </div>
      </div>
    </div>

    @if(searchForm.invalid){
      <!-- Validation Messages -->
      <div class="col-12 col-md-6 col-lg-3 d-flex flex-column flex-md-row justify-content-start gap-3 px-3 py-2">
        @if (searchForm.get('destinationCity')?.touched && (searchForm.get('destinationCity')!.hasError('required'))) {
          <small class="text-danger bg-danger-subtle rounded-3 px-2 p-1 fst-italic">
            {{ 'search.validation.destinationRequired' | translate }}
          </small>
        }

        @if(searchForm.get('fromCity')?.touched && searchForm.get('fromCity')!.hasError('required')){
          <small class="text-danger bg-danger-subtle rounded-3 px-2 p-1 fst-italic">
            {{ 'search.validation.fromRequired' | translate }}
          </small>
        }

        @if(searchForm.get('date')?.touched && searchForm.get('date')!.hasError('required')){
          <small class="text-danger bg-danger-subtle rounded-3 px-2 p-1 fst-italic">
            {{ 'search.validation.dateRequired' | translate }}
          </small>
        }

        @if(searchForm.get('date')?.touched && searchForm.get('date')!.hasError('pastDate')){
          <small class="text-danger bg-danger-subtle rounded-3 px-2 p-1 fst-italic">
            {{ 'search.validation.futureDate' | translate }}
          </small>
        }

        @if(searchForm.get('return_date')?.touched && searchForm.get('return_date')!.hasError("pastDate")){
          <small class="text-danger bg-danger-subtle rounded-3 px-2 p-1 fst-italic">
            {{ 'search.validation.futureReturnDate' | translate }}
          </small>
        }

        @if(searchForm.hasError('returnDateAfterTravel') && searchForm.get('return_date')?.touched){
          <small class="text-danger bg-danger-subtle rounded-3 px-2 p-1 fst-italic">
            {{ 'search.validation.returnAfterTravel' | translate }}
          </small>
        }
      </div>
    }


    <!-- Info Bubble -->
    @if(message()){
      <div class="d-flex justify-content-start align-items-center p-0">
        <div class="info-bubble mb-2">
          <i class="pi pi-info-circle"></i>
          {{ message() }}
        </div>
      </div>
    }

    <!-- Search Form -->
    <form (ngSubmit)="onSubmit()" [formGroup]="searchForm" class="row g-0 pb-2 justify-content-center w-100">
      <!-- From -->
      <div [ngClass]="tripType === 'twoway' ? 'col-12 col-md-6 col-lg-2' : 'col-12 col-md-6 col-lg-4'">
        <div class="d-flex align-items-center rounded-input first border border-2 p-1"
             (click)="focusInput('fromCity')"
             [class.invalid]="searchForm.get('fromCity')?.invalid && searchForm.get('fromCity')?.touched">
          <i class="bi bi-geo-alt fs-4 ms-2 me-2"></i>
          <div class="ms-2 flex-grow-1">
            <label class="text-muted" for="fromCity" style="font-size: 0.5rem;">
              {{ 'search.labels.from' | translate }}
            </label>
            <input
              #fromCityInput
              (typeaheadOnSelect)="onCitySelected($event)"
              [typeaheadOptionField]="'city_name'"
              [typeahead]="cities"
              [placeholder]="'search.placeholders.from' | translate"
              pTooltip="{{ 'search.tooltips.from' | translate }}"
              formControlName="fromCity"
              [dropup]="true"
              class="form-control py-2 px-0 border-0"
              id="fromCity"
              type="text"/>
          </div>
        </div>
      </div>

      <!-- To -->
      <div [ngClass]="tripType === 'twoway' ? 'col-12 col-md-6 col-lg-2' : 'col-12 col-md-6 col-lg-4'">
        <div class="d-flex align-items-center rounded-input second border border-1 p-1"
             (click)="focusInput('toCity')"
             [class.invalid]="searchForm.get('destinationCity')?.invalid && searchForm.get('destinationCity')?.touched">
          <i class="bi bi-geo-alt fs-4 ms-2 me-2"></i>
          <div class="ms-2 flex-grow-1">
            <label class="text-muted" for="toCity" style="font-size: 0.5rem;">
              {{ 'search.labels.to' | translate }}
            </label>
            <input
              #toCityInput
              (typeaheadOnSelect)="onDestinationSelected($event)"
              [typeaheadOptionField]="'city_name'"
              [typeahead]="cities"
              [placeholder]="'search.placeholders.to' | translate"
              pTooltip="{{ 'search.tooltips.to' | translate }}"
              formControlName="destinationCity"
              [dropup]="true"
              class="form-control py-2 px-0 border-0"
              id="toCity"
              type="text"/>
          </div>
        </div>
      </div>

      <!-- Travel Date -->
      <div [ngClass]="tripType === 'twoway' ? 'col-12 col-md-6 col-lg-5' : 'col-12 col-md-12 col-lg-4'">
        <div class="d-flex align-items-center border border-1 p-1"
             [ngClass]="tripType === 'twoway' ? 'rounded-input third' : 'rounded-input-one-way'">
          <div class="d-flex justify-content-between flex-grow-1 align-items-center flex-row gap-1"
               (click)="toggleTheDate();focusInput('travelDate')"
               [class.invalid]="searchForm.get('date')?.invalid && searchForm.get('date')?.touched">
            <i class="bi bi-calendar-date fs-4 ms-2 me-2"></i>
            <div class="ms-2 flex-grow-1">
              <label class="text-muted" for="travelDate" style="font-size: 0.5rem;">
                {{ 'search.labels.travelDate' | translate }}
              </label>
              <p-datepicker
                #travelDateInput
                [appendTo]="'body'"
                [minDate]="today"
                dateFormat="dd MM,yy"
                formControlName="date"
                [placeholder]="'search.placeholders.travelDate' | translate"
                pTooltip="{{ 'search.tooltips.travelDate' | translate }}"
                styleClass="form-control p-0">
              </p-datepicker>
            </div>
            <div class="d-flex justify-content-center align-items-center">
              <button (click)="setToday()" class="btn rounded-pill btn-primary" type="button">
                {{ 'search.quick.today' | translate }}
              </button>
              <button (click)="setTomorrow()" class="btn rounded-pill btn-secondary" type="button">
                {{ 'search.quick.tomorrow' | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Return Date -->
      @if(tripType === 'twoway'){
        <div class="col-12 col-md-6 col-lg-3">
          <div class="d-flex align-items-center rounded-input forth border border-1 p-1"
               (click)="focusInput('returnDate')"
               [class.invalid]="searchForm.get('return_date')?.invalid && searchForm.get('return_date')?.touched">
            <i class="bi bi-calendar2-date fs-4 ms-2 me-2"></i>
            <div class="ms-1 flex-grow-1">
              <label class="text-muted" for="returnDate" style="font-size: 0.5rem;">
                {{ 'search.labels.returnDate' | translate }}
              </label>
              <p-datepicker
                #returnDateInput
                [appendTo]="'body'"
                [minDate]="today"
                dateFormat="dd MM,yy"
                formControlName="return_date"
                [placeholder]="'search.placeholders.returnDate' | translate"
                pTooltip="{{ 'search.tooltips.returnDate' | translate }}"
                styleClass="form-control p-0">
              </p-datepicker>
            </div>
          </div>
        </div>
      }

      <!-- Search Button -->
      <div class="col-12 d-flex justify-content-end justify-content-md-center pt-3">
        <div class="form-container">
          <button [disabled]="searchForm.invalid" class="btn rounded-pill search-btn fw-semibold" type="submit">
            <i class="bi bi-search me-2 fs-5"></i>
            {{ 'search.actions.submit' | translate }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
