<div class="w-100 p-2 px-4 bg-white shadow-sm rounded-5">
  <div class="row">
    <!-- Trip Type Toggle -->
    <div class="col-12 col-md-6 col-lg-3">
      <div class="pb-2 d-flex  flex-row gap-4  px-2 py-2">
        <div class="form-check">
          <input
            (change)="setTripType('onward')"
            [checked]="tripType === 'onward'"
            class="form-check-input"
            id="onward"
            name="tripType"
            type="radio">
          <label class="form-check-label fs-5 mt-2 ms-2" for="onward" style="font-size: 1rem;">
            One Way
          </label>
        </div>
        <div class="form-check">
          <input
            (change)="setTripType('twoway')"
            [checked]="tripType === 'twoway'"
            class="form-check-input"
            id="roundTrip"
            name="tripType"
            type="radio">
          <label class="form-check-label fs-5 mt-2 ms-2" for="roundTrip" style="font-size: 1rem;">
            Round Trip
          </label>
        </div>
      </div>
    </div>




    <div class="col-12 col-md-6 col-lg-3 d-flex flex-column flex-md-row justify-content-start gap-3 px-3 py-2">

      <small
        *ngIf="searchForm.get('destinationCity')?.touched && searchForm.get('destinationCity')?.hasError('required')"
        class="text-danger me-2 fs-6 text-danger-emphasis  bg-danger-subtle rounded-3 px-2 p-1 fst-italic">
        To city is required. *
      </small>
      <small *ngIf="searchForm.get('fromCity')?.touched && searchForm.get('fromCity')?.hasError('required')"
             class="text-danger me-2  fs-6 text-danger-emphasis  bg-danger-subtle rounded-3 px-2 p-1 fst-italic">
        From city is required. *
      </small>
      <small *ngIf="searchForm.get('date')?.touched && searchForm.get('date')?.hasError('required')"
             class="text-danger me-2  fs-6 text-danger-emphasis  bg-danger-subtle rounded-3 px-2 p-1 fst-italic">
        *Date is required.
      </small>
      <small *ngIf="searchForm.get('date')?.touched && searchForm.get('date')?.hasError('pastDate')"
             class="text-danger me-2  fs-6 text-danger-emphasis  bg-danger-subtle rounded-3 px-2 p-1 fst-italic">
        *Please select a future date.
      </small>
      <small *ngIf="searchForm.get('return_date')?.touched && searchForm.get('return_date')?.hasError('pastDate')"
             class="text-danger me-2  fs-6 text-danger-emphasis  bg-danger-subtle rounded-3 px-2 p-1 fst-italic">
        *Please select a future return date.
      </small>
      <small *ngIf="searchForm.hasError('returnDateAfterTravel') && searchForm.get('return_date')?.touched"
             class="text-danger me-2  fs-6 text-danger-emphasis  bg-danger-subtle rounded-3 px-2 p-1 fst-italic">
        Return date cannot be earlier than travel date.
      </small>

    </div>


    <div *ngIf="message()" class=" d-flex justify-content-start align-items-center">
<!--      Typeriter-->
<!--      <div class="typewriter">-->
<!--        <p-->
<!--          *ngIf="message()"-->
<!--          class="mb-1" style="font-size: var(&#45;&#45;font-size);">{{ message() }}</p>-->
<!--      </div>-->

<!--      Info Buble-->
      <div class="info-bubble mb-2">
        <i class="pi pi-info-circle"></i>
        {{ message() }}
      </div>
    </div>
    <!-- Search Form -->
    <form (ngSubmit)="onSubmit()" [formGroup]="searchForm"
          class="row g-0 position-relative pb-2 justify-content-center w-100">
      <!-- From -->
      <div [ngClass]="tripType === 'twoway' ? 'col-12 col-md-6 col-lg-2 ' : 'col-12 col-md-6 col-lg-4  '">
        <div

          (click)="focusInput('fromCity')"
          [class.invalid]="searchForm.get('fromCity')?.invalid && searchForm.get('fromCity')?.touched"
          class="d-flex align-items-center rounded-input first border border-2  p-1">
          <i class="bi bi-geo-alt fs-4 ms-2 me-2"></i>
          <div class="ms-2 flex-grow-1">
            <label class="text-muted" for="toCity" style="font-size: 0.5rem;">From</label>
            <input
              #fromCityInput
              (typeaheadOnSelect)="onCitySelected($event)"
              [typeaheadOptionField]="'city_name'"
              [typeahead]="cities"
              pTooltip="Enter the Boarding City" tooltipEvent="focus"
              class="form-control p-2 border-0"
              formControlName="fromCity"
              id="fromCity"
              placeholder="From"
              type="text"/>
          </div>
        </div>
      </div>

      <!-- To -->
      <div [ngClass]="tripType === 'twoway' ? 'col-12 col-md-6 col-lg-2 ' : 'col-12 col-md-6 col-lg-4 '">
        <div (click)="focusInput('toCity')"
             [class.invalid]="searchForm.get('destinationCity')?.invalid && searchForm.get('destinationCity')?.touched"
             class="d-flex align-items-center rounded-input second  border border-1 p-1"
        >
          <i class="bi bi-geo-alt fs-4 ms-2 me-2"></i>
          <div class="ms-2 flex-grow-1">
            <label
              class="text-muted"
              for="toCity" style="font-size: 0.5rem;">To</label>
            <input
              #toCityInput
              (typeaheadOnSelect)="onDestinationSelected($event)"
              [typeaheadOptionField]="'city_name'"
              [typeahead]="cities"
              pTooltip="Enter your destination city"
              tooltipPosition="top"
              tooltipEvent="focus"
              class="form-control p-2 border-0 "
              formControlName="destinationCity"
              id="toCity"
              placeholder="To"
              type="text"/>
          </div>
        </div>
      </div>

      <!-- Travel Date -->
      <div

        [ngClass]="tripType === 'twoway' ? 'col-12 col-md-6 col-lg-5' : 'col-12 col-md-12 col-lg-4'">
        <div
          [ngClass]="tripType === 'twoway' ? 'rounded-input third' : 'rounded-input-one-way'"
          class="d-flex align-items-center   border border-1 p-1">

          <div (click)="toggleTheDate();focusInput('travelDate');"
               [class.invalid]="searchForm.get('date')?.invalid && searchForm.get('date')?.touched"
               class=" d-flex justify-content-between flex-grow-1 align-items-center flex-row gap-1"
          >
            <i class="bi bi-calendar-date fs-4 ms-2 me-2"></i>
            <div class="ms-2 flex-grow-1">
              <label class="text-muted" for="travelDate" style="font-size: 0.5rem;">Date of journey</label>

              <p-datepicker
                #travelDateInput
                [appendTo]="'body'"
                [minDate]="today"
                [selectOtherMonths]="true"
                [showButtonBar]="false"
                [showOtherMonths]="true"
                dateFormat="dd MM,yy"
                formControlName="date"
                placeholder="Select date"
                pTooltip="Choose your travel date" tooltipEvent="focus"
                styleClass="form-control p-0">
              </p-datepicker>
            </div>
            <button (click)="setToday()" class="btn btn-sm rounded-pill btn-primary px-3 py-2 fs-6" type="button">
              Today
            </button>
            <button (click)="setTomorrow()" class="btn btn-sm rounded-pill btn-secondary px-3 py-2 fs-6" type="button">
              Tomorrow
            </button>
          </div>
        </div>
      </div>

      <!-- Return Date (conditionally shown) -->
      <div *ngIf="tripType === 'twoway'" class="col-12 col-md-6 col-lg-3">
        <div (click)="focusInput('returnDate')"
             [class.invalid]="searchForm.get('return_date')?.invalid && searchForm.get('return_date')?.touched"
             class="d-flex align-items-center rounded-input forth border border-1 p-1"
        >
          <i class="bi bi-calendar2-date fs-4 ms-2 me-2"></i>
          <div class="ms-1 flex-grow-1">
            <label class="text-muted" for="returnDate" style="font-size: 0.5rem;">Date To return</label>
            <p-datepicker
              #returnDateInput
              [appendTo]="'body'"
              [defaultDate]="today"
              [minDate]="today"
              [selectOtherMonths]="true"
              [showOtherMonths]="true"
              dateFormat="dd MM,yy"
              formControlName="return_date"
              placeholder="Select return date"
              pTooltip="Choose your return date" tooltipEvent="focus"
              styleClass="form-control p-0">
            </p-datepicker>
          </div>

        </div>
      </div>

      <div>

      </div>

      <!-- Search Button -->
      <div
        class="col-12 d-flex justify-content-end justify-content-md-center justify-content-lg-center align-items-center form-btn  pt-3">
        <div class="form-container">
          <button
            [disabled]="searchForm.invalid"
            class="btn rounded-pill search-btn fw-semibold"
            type="submit"
          >
            <i class="bi bi-search me-2 fs-5"></i> Search Bus
          </button>
        </div>

      </div>
    </form>
  </div>
</div>
