<div class="section">
  <div class="container app-container">
    <div class="row">
      <div class="line-border col-sm-12 bg-white p-5 rounded-4 border border-1">
        <div class="section-header text-left mb-4">
          <h2 class="title" style="font-weight: 600;">{{ 'aboutPage.title' | translate }}</h2>
        </div>

        <p>
          <span class="fw-bold">{{ 'aboutPage.appName' | translate }}</span>
          {{ 'aboutPage.description' | translate }}
        </p>

        <p><span class="fw-bold">{{ 'aboutPage.appName' | translate }}</span> {{ 'aboutPage.easyIntro' | translate }}</p>

        <ul style="margin-left: 30px">
          <li><i class="bi bi-check-lg me-2 fw-3"></i> {{ 'aboutPage.steps.download' | translate }}</li>
          <li><i class="bi bi-check-lg me-2 fw-3"></i> {{ 'aboutPage.steps.enterPoints' | translate }}</li>
          <li><i class="bi bi-check-lg me-2 fw-3"></i> {{ 'aboutPage.steps.chooseRoute' | translate }}</li>
          <li><i class="bi bi-check-lg me-2 fw-3"></i> {{ 'aboutPage.steps.bookRide' | translate }}</li>
        </ul>

        <p>{{ 'aboutPage.features' | translate }}</p>
        <p style="font-weight: 700;">{{ 'aboutPage.callToAction' | translate }}</p>
        <p>{{ 'aboutPage.conclusion' | translate }}</p>
      </div>
    </div>
  </div>
</div>
