<div class="bus-container" [@busLayout]>
  <div class="card shadow-none" [style.minHeight.px]="850">
    <div class="card-body">
      <div>
        <div class="d-flex justify-content-between align-items-start">
          <div class="d-none flex-grow-1 d-lg-flex flex-column align-items-start">
            <p class="fs-6 text-muted fw-semibold mb-0 d-flex align-items-center">
              {{ busData.company_name }}
            </p>
          </div>
        </div>
      </div>

      <h5 class="card-title d-flex justify-content-between align-items-center mb-2">
        <span style="font-size: 1rem;" class="text-muted">{{ 'busSeatSelector.selectSeats' | translate }}</span>
        <span class="badge text-success-emphasis">{{ selectedSeats.length }}/6 {{ 'busSeatSelector.selected' | translate }}</span>
      </h5>

      <!-- Bus Layout Container -->
      <div #busContainer class="bus-layout" [style.maxHeight.px]="busLayoutHeight">
        <div class="bus-outline bg-light"></div>

        <!-- Overlay for mobile orientation message -->
<!--        <div class="orientation-message" *ngIf="isMobileView" [@fadeIn]>-->
<!--          <i class="bi bi-phone-flip"></i>-->
<!--          <small>{{ 'busSeatSelector.orientationMessage' | translate }}</small>-->
<!--        </div>-->

        <!-- Seats -->
        <ng-container *ngFor="let seat of seatData">
          <button *ngIf="seat.seat_type !== 'driver' && seat.seat_type !== 'door'"
                  class="m-1"
                  [class]="'seat ' + getSeatClass(seat)"
                  [@seatState]="getSeatState(seat)"
                  [class.selected]="isSelected(seat)"
                  [style.left.px]="adjustSeatPosition(seat, 'left')"
                  [style.top.px]="adjustSeatPosition(seat, 'top')"
                  [style.width.px]="parseInt(seat.seat_width) * cardScaleFactor"
                  [style.height.px]="parseInt(seat.seat_height) * cardScaleFactor"
                  [style.fontSize.px]="14 * cardScaleFactor"
                  [disabled]="seat.selection_status || seat.seat_type == 'staff' "
                  (click)="toggleSeat(seat)"
                  [attr.aria-label]="'Seat ' + seat.seat_name + ' - ' + seat.seat_type">
            {{ seat.seat_name }}
            <div class="seat-tooltip" *ngIf="isSelected(seat)" [@tooltip]="'visible'">
              <i class="bi bi-check"></i>
            </div>
          </button>

          <!-- Door -->
          <div *ngIf="seat.seat_type === 'door'"
               class="door-section bus-name"
               [style.left.px]="adjustSeatPosition(seat, 'left')"
               [style.top.px]="adjustSeatPosition(seat, 'top')"
               [style.width.px]="parseInt(seat.seat_width) * cardScaleFactor"
               [style.height.px]="parseInt(seat.seat_height) * cardScaleFactor"
               [style.fontSize.rem]="0.8 * scaleFactor">
            <div class="ms-1"
                 style="line-height: 36px; border: 2px dashed rgb(232, 232, 232); text-align: center; color: rgb(232, 232, 232); text-transform: uppercase;"
                 [style.width.px]="90 * cardScaleFactor"
                 [style.height.px]="36 * cardScaleFactor"
                 [style.lineHeight.px]="36 * cardScaleFactor"
                 [style.fontSize.px]="18 * scaleFactor">
              <span style="font-size: 14px;color: #969696" class="ng-binding">{{ 'busSeatSelector.door' | translate }}</span>
            </div>
          </div>

          <!-- Driver -->
          <div *ngIf="seat.seat_type === 'driver'" class="door-section bus-name"
               [style.left.px]="adjustSeatPosition(seat, 'left')"
               [style.top.px]="adjustSeatPosition(seat, 'top')"
               [style.width.px]="parseInt(seat.seat_width) * cardScaleFactor"
               [style.height.px]="90 * cardScaleFactor">
            <!-- driver SVG -->
          </div>
        </ng-container>
      </div>

      <!-- Seat Legend -->
      <div class="seat-legend-container position-absolute bottom-0 start-0 end-0 mb-3" [@legendItem]>
        <div class="d-flex flex-wrap gap-2 gap-md-4 justify-content-center">
          <div class="d-flex align-items-center">
            <div class="seat-legend vip"></div>
            <span class="small">{{ 'busSeatSelector.legend.vip' | translate }}</span>
          </div>
          <div class="d-flex align-items-center">
            <div class="seat-legend normal"></div>
            <span class="small">{{ 'busSeatSelector.legend.normal' | translate }}</span>
          </div>
          <div class="d-flex align-items-center">
            <div class="seat-legend bclass"></div>
            <span class="small">{{ 'busSeatSelector.legend.business' | translate }}</span>
          </div>
          <div class="d-flex align-items-center">
            <div class="seat-legend unavailable"></div>
            <span class="small">{{ 'busSeatSelector.legend.booked' | translate }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Selected Seats Summary -->
  <div class="card shadow-none">
    <div class="card-body">
      <div class="d-flex flex-row flex-md-row justify-content-between align-items-center align-items-md-center">
        <div class="selected-seats mb-2 mb-md-0">
          <h5 class="card-title">{{ 'busSeatSelector.summary.title' | translate }}</h5>
          <ng-container *ngIf="selectedSeats.length > 0; else noSeats">
            <p class="mb-0">
              <span class="fw-bold">{{ 'busSeatSelector.summary.seats' | translate }}</span>: {{ getSelectedSeatsString() }}
            </p>
            <p class="text-muted small mb-0">
              {{ getSeatTypesSummary() }}
            </p>
          </ng-container>
          <ng-template #noSeats>
            <p class="mb-0 text-muted">{{ 'busSeatSelector.summary.noSeats' | translate }}</p>
          </ng-template>
        </div>
        <div class="price text-start text-md-end">
          <ng-container *ngIf="selectedSeats.length > 0">
            <p class="mb-0 fs-5 fw-bold">KES {{ calculateTotalPrice() }}</p>
            <p class="text-muted small mb-0">{{ 'busSeatSelector.summary.totalAmount' | translate }}</p>
          </ng-container>
        </div>
      </div>

      <!-- Boarding/Dropping -->
      <form class="mt-1" [formGroup]="boardingForm" (ngSubmit)="submitForm()">
        <div class="row">
          <div class="col-sm-6">
            <div class="w-100 d-flex flex-column">
              <label class="fw-medium" for="boarding">{{ 'busSeatSelector.form.boarding.label' | translate }}</label>
              <p-select
                inputId="boarding"
                [options]="stages?.boarding"
                formControlName="boarding"
                optionLabel="name"
                [placeholder]="'busSeatSelector.form.boarding.placeholder' | translate"
                class="w-full"
              />
            </div>
          </div>

          <div class="col-sm-6 mt-3">
            <div class="w-100 d-flex flex-column">
              <label class="fw-medium" for="dropping">{{ 'busSeatSelector.form.dropping.label' | translate }}</label>
              <p-select
                inputId="dropping"
                [options]="stages?.dropping"
                formControlName="dropping"
                optionLabel="name"
                [placeholder]="'busSeatSelector.form.dropping.placeholder' | translate"
                class="w-full"
              />
            </div>
          </div>
        </div>
      </form>

      <!-- Buttons -->
      <div class="mt-3">
        <button *ngIf="selectedSeats.length > 0 && !boardingForm.invalid && (type === 'onward' || isReturnStep)"
                class="btn btn-primary w-100 rounded-pill py-2 mt-3"
                (click)="proceedToCheckout()">
          {{ 'busSeatSelector.buttons.checkout' | translate }}
          <i class="bi bi-arrow-right ms-2"></i>
        </button>

        <button *ngIf="selectedSeats.length > 0 && !boardingForm.invalid && type === 'twoway' && !isReturnStep"
                class="btn btn-success w-100 rounded-pill py-2 mt-3"
                (click)="proceedToReturn()">
          {{ 'busSeatSelector.buttons.return' | translate }}
          <i class="bi bi-arrow-repeat ms-2"></i>
        </button>

        <button *ngIf="selectedSeats.length > 0 && boardingForm.invalid"
                class="btn btn-warning w-100 rounded-pill py-2 mt-3"
                disabled>
          {{ 'busSeatSelector.buttons.completeForm' | translate }}
          <i class="bi bi-exclamation-triangle-fill ms-2"></i>
        </button>

        <button *ngIf="selectedSeats.length === 0"
                class="btn btn-secondary w-100 rounded-pill py-2 mt-3"
                disabled>
          {{ 'busSeatSelector.buttons.selectSeat' | translate }}
          <i class="bi bi-exclamation-circle-fill ms-2"></i>
        </button>
<!--
        <button *ngIf="selectedSeats.length > 0 && !boardingForm.invalid && type === 'twoway' && !isReturnStep"
                class="btn btn-success w-100 rounded-pill py-2 mt-3"
                (click)="proceedToReschedule()">
          {{ 'busSeatSelector.buttons.reschedule' | translate }}
          <i class="bi bi-arrow-repeat ms-2"></i>
        </button> -->
      </div>
    </div>
  </div>
</div>
