
input[type="radio"] {
  width: 1.2rem;
  height: 1.2rem;
  accent-color: var(--primary-color-500);
}

::ng-deep .p-tablist .p-tab:hover {
  color: var(--primary-color-500);
}

::ng-deep .p-tablist .p-tab.p-tab-active {
  color: var(--primary-color);
  border-color: var(--primary-color-600);
  font-weight: 600;
}



