

<div class="section">
    <div class="container app-container">

      <div class="row">
      <div class="line-border col-sm-12 bg-white p-5 rounded-4 border border-1">
        <div class="section-header text-left mb-4">
          <h2 class="title" style="font-weight: 600;">About Us</h2>
        </div>
        <p><span class="fw-bold">iAbiri</span> is a software app developed to make an impact to the transport sector by majorly targeting the travelers.
            It works as an alternative transport solution that offers the travelers access to high quality bus rides, fixed lines, timings and Fares all in one app.</p>
            <p><span class="fw-bold">iAbiri</span> is easy</p>
            <ul style="margin-left: 30px">
                <li><i class="bi bi-check-lg me-2 fw-3"></i> Download and open the app.</li>
                <li><i class="bi bi-check-lg me-2 fw-3"></i> Enter the pickup and drop off points.</li>
                <li><i class="bi bi-check-lg me-2 fw-3"></i> Pick up the most convenient route and travelling.</li>
                <li><i class="bi bi-check-lg me-2 fw-3"></i> Book your ride and save on time and money.</li>
            </ul>
        <p>It also offers you a combined comfort, quality, safe travel and high responsive customer service.</p>
        <p style="font-weight: 700;">NEED A SAFE, COMFORTABLE AND AFFORDABLE BUS TRANSPORT SERVICE?</p>
        <p>Then Iabiri is the APP for you.</p>
      </div>
      </div>

    </div>
  </div>
