<div class="modal fade" id="verificationModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true" #loginModal>
    <div class="modal-dialog modal-custom-small modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header p-2">
          <h6 class="modal-title" id="verificationModal" style="font-size: 18px;font-weight: 600;">Phone Number Verification</h6>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
             <div class="row">
              <div class="col-sm-12">
                <div class="otp-container">
                  <ng-otp-input [formControl]="otpControl" [config]="otpConfig"></ng-otp-input>
                </div>
              </div>
              <div class="col-sm-12 mt-2">
                <i class="bi bi-exclamation-circle-fill text-warning me-2 "></i>
                <span style="font-size: 15px;">Please enter  code send your  number to verify mobile number via SMS.</span>
              </div>
             </div>

        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-primary">Verify Phone Number</button>
        </div> -->

      </div>
    </div>
  </div>

  <ngx-loading [show]="loading" [config]="loadingConfig"></ngx-loading>
