<!--<section class="hero-section">-->
<!--  <div-->
<!--    class="hero-image"-->
<!--  >-->
<!--&lt;!&ndash;    <img&ndash;&gt;-->
<!--&lt;!&ndash;      class="image position-relative"&ndash;&gt;-->
<!--&lt;!&ndash;      src="\assets\images\hero.jpg" alt="" height="280" width="100%">&ndash;&gt;-->
<!--  </div>-->
<!--  <div class="hero-form shadow-lg p-3 rounded-5 bg-info">-->
<!--    <app-shared-search></app-shared-search>-->
<!--  </div>-->

<!--</section>-->


<section class="hero-section
">
<!--  <div class="hero-image"> <img class="image" src="\assets\images\hero.jpg" alt="" height="280" width="100%">-->
<!--  </div>-->
  <div class="hero-form ">
    <div class="container">
<!--      <p class="fw-semibold text-color ms-4">-->
<!--        Search trip → Choose bus & seat → Select points → Checkout.-->
<!--      </p>-->
<!--      <div class="container-box">-->
<!--        <p class="fw-semibold text-color ms-4 typed-out">-->
<!--          {{message() }}-->
<!--        </p>-->
<!--      </div>-->


      <app-shared-search></app-shared-search>

    </div>
  </div>
</section>
