<div class="filter-controls">
  <div class="row mb-4">
    <div class="col-6">
      <label class = "form-label">{{ 'dashboard.totalItemsLabel' | translate }}</label>
      <select class="form-select" [(ngModel)]="totalItems">
        <option class="form-control" selected value="10">10</option>
        <option class="form-control" value="20">20</option>
        <option class="form-control" value="50">50</option>
      </select>
    </div>


    <div class="col-6">
      <label class="form-label">Currency</label>
      <select class="form-select" [(ngModel)]="currency">
        @for(currency of currencies; track $index){
          <option class="form-control" [value]="currency.id">{{ currency.code}}</option>
        }
      </select>
    </div>

    <div class="col-12 mt-2">
      <label class="form-label">{{ 'dashboard.userSelectLabel' | translate }}</label>
      <select class="form-select" aria-label="{{ 'dashboard.userSelectLabel' | translate }}">
        <option class="form-control" selected>{{ 'dashboard.userSelectPlaceholder' | translate }}</option>
        <option class="form-control" value="1">One</option>
        <option class="form-control" value="2">Two</option>
        <option class="form-control" value="3">Three</option>
      </select>
    </div>
  </div>
  <!-- Data table -->
  <div class="data-table-container">
    <table class="table table-responsive">
      <thead>
      <tr>
        <th>{{ 'dashboard.table.companyName' | translate }}</th>
        <th>{{ 'dashboard.table.ticketNo' | translate }}</th>
        <th>{{ 'dashboard.table.totalSale' | translate }}</th>
        <th>{{ 'dashboard.table.commission' | translate }}</th>
        <th>{{ 'dashboard.table.selfCommission' | translate }}</th>
        <th>{{ 'dashboard.table.walletBalance' | translate }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="bookings.length === 0">
        <td colspan="10" class="text-center">{{ 'dashboard.table.noData' | translate }}</td>
      </tr>
      <tr *ngFor="let booking of bookings">
        <td>{{ booking.companyName }}</td>
        <td>{{ booking.ticketNo }}</td>
        <td>{{ booking.totalSales }}</td>
        <td>{{ booking.commission }}</td>
        <td>{{ booking.selfCommission }}</td>
        <td>{{ booking.walletBalance }}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <!-- Pagination -->
  <div class="pagination-controls">
    <nav>
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="{{ 'dashboard.pagination.previous' | translate }}">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="{{ 'dashboard.pagination.next' | translate }}">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
