<div class="card mb-3">
  <div class="card-header">
    <h5 class="card-title">Personal information</h5>
    <div class="hstack gap-1">
      <p class="mb-0 small">Do you need help? call us</p>
      <a href="mailto:info@iabiri.com" style="text-decoration: none;font-weight: 700;"> +254709215215 | Email : {{email}}</a>
    </div>
  </div>
  <div class="card-body">
    <form class="gap-3" #passegerForm="ngForm">

      <div class="row" *ngFor="let item of data?.ticketDetail.onwardticket?.passenger;let index=index">

        <div class="col-sm-8">
          <h5>
            <span  *ngIf="index == 0" style="color:green;font-weight: 800;text-transform: uppercase;font-size: 15px;">Primary Passenger</span>
            <span  *ngIf="index > 0" style="color:black;font-weight: 800;text-transform: uppercase;font-size: 15px;">Co Passenger</span>


          </h5>
        </div>
        <div class="col-sm-4" style="text-align:right">
          Seat :<b>{{item.seat_name}}</b><b *ngIf="data?.returnticket?.passenger">, {{data.returnticket.passenger[index].seat_name}}</b>

        </div>
        <div class="col-8">
          <label for="firstName" class="form-label">Name</label>
          <input type="text" placeholder="Name" class="form-control" id="name" name="seat{{item.seat_name}}"  [(ngModel)]="item.name" required >
        </div>
        <div class="col-4">
          <label for="lastName" class="form-label">Age</label>
          <input type="number" class="form-control" id="age" name="age{{item.seat_name}}"  [(ngModel)]="item.age"    placeholder="Age" required>
        </div>

        <div class="col-5">
          <label for="sortBy" class="form-label">Gender</label>
          <select class="form-select" id="gender" name="gender{{item.seat_name}}" [(ngModel)]="item.gender" >
            <option value="F">Female</option>
            <option value="M">Male</option>
          </select>
        </div>


        <div class="col-7">
          <label for="idNo" class="form-label">ID/Passport</label>
          <input type="number" class="form-control"  name="id_no{{item.seat_name}}" required [(ngModel)]="item.id_no"  placeholder="ID Number" >
        </div>
        <div class="col-12 col-md-6">
          <label for="idNo" class="form-label">Email</label>
          <input type="text" class="form-control"  name="eamil{{item.seat_name}}" required [(ngModel)]="item.email"  placeholder="Email" >
        </div>

        <div class="col-12 col-md-3">
          <label for="residence" class="form-label">Nationality</label>
          <input type="text" class="form-control"  required  name="nationality{{item.seat_name}}"  [(ngModel)]="item.nationality"
                 [typeahead]="nationalities"
                 [typeaheadOptionField]="'value'"
                 placeholder="Nationality">
        </div>

        <div class="col-sm-12">
          <div class="row mb-2">
            <div class="col-4">
              <label for="price" class="form-label">Code</label>
              <select class="form-select"  name="mobileId{{item.seat_name}}" [(ngModel)]="item.mobileId" value="+254"  >
                <option [value]="item.code" *ngFor="let item of country_codes"> +{{item.code}}</option>
              </select>
            </div>
            <div class="col-8">
              <label for="phone_number" class="form-label">Phone Number</label>
              <div class="input-group">
                <span class="input-group-text"><i class="bi bi-telephone-plus"></i></span>
                <input
                  type="number"
                  class="form-control"
                  name="phone{{item.seat_name}}"    placeholder="Phone" [(ngModel)]="item.mobile"
                  placeholder="700000000">
              </div>

            </div>
          </div>
        </div>

      </div>

    </form>
  </div>
  <div class="card-footer text-end" *ngIf="!isSuccess">
    <button class="btn btn-primary rounded-pill
"
            (click)="proceed()" [disabled]="passegerForm.invalid">Proceed to pay</button>
  </div>
</div>
<!-- *ngIf="isSuccess" -->
<!-- <div class="" >
  <app-checkout-payment-form></app-checkout-payment-form>
</div> -->
