/* Form Inputs */
.form-control, .form-select, input-group-text{
  border: 1px solid #ddd;
  border-radius: 0.375rem;
  padding: 0.5rem;
  background-color: #efefef;
}

/* Form Labels */
.form-label {
  font-weight: 500;
  margin-bottom: 0.5rem;

  //color: white;
}

.card-footer {
  background-color: #f9f9f9;
  border-top: 2px solid #ddd;
}
.card-footer p {
  font-size: 1.1rem;
}
.custom-switch {
  transform: scale(1.5); /* adjust: 1 = normal, 1.5 = 50% larger */
  transform-origin: center;
}

*{
  font-size: var(--font-size);
}

.bg-custom{
  background: var(--primary-color-50);
}

.btn-primary{
  background: linear-gradient(45deg, var(--secondary-color-500), var(--secondary-color-400));
  border: 1px solid var(--secondary-color-600);
}

.btn-secondary:hover, focus{
  background: linear-gradient(45deg, var(--secondary-color-600), var(--secondary-color-500));
  border: 1px solid var(--secondary-color-700);
}

.custom-btn{
  //background:linear-gradient(45deg, var(--primary-color-500), var(--primary-color-400));
  color: var(--primary-color-500);
  width: fit-content;
  padding:6px 12px ;
  border-radius: 0.5rem;
  max-height: 44px;
  text-decoration: underline;
}

.custom-bg{
  background: var(--primary-color-100);
}

.border-primary {
  border: 2px solid var(--primary-color-500) !important;
  /* or if you prefer the width/colour split:
  border-width: 2px !important;
  border-color: var(--primary-color-500) !important;
  border-style: solid !important;
  */
}



/* make it larger and perfectly round */
.custom-check {
  width: 18px;           /* increase size */
  height: 18px;
  accent-color: var(--primary-color-500);
}

/* optional: thicker border and clearer checked state */
.custom-check:checked {
  background-color: var(--primary-color-500);
  border-color: var(--primary-color-500);
}
