<div class="card mb-3">


  <div class="card-body border-0">
    <form #passengerForm="ngForm" class="gap-2">
      <div *ngFor="let item of data?.ticketDetail.onwardticket?.passenger; let index = index" class="row
      mb-2">
        <div class="col-8">
          <h5>
            <span *ngIf="index == 0" class="primary-passenger">{{ 'booking.passengerForm.primaryPassenger' | translate }}</span>
            <span *ngIf="index > 0" class="co-passenger">{{ 'booking.passengerForm.coPassenger' | translate }}</span>
          </h5>
        </div>

        <div class="col-4 text-end" style="font-size: 0.875rem;">
          <img alt="Seat Icon" class="mb-2 me-2" height="20" src="/assets/images/seat.png" width="20">
          Seat: <b class="fw-semibold">{{ item.seat_name }}</b>
          <b *ngIf="data?.returnticket?.passenger" class="fw-semibold">, {{ data.returnticket.passenger[index].seat_name }}</b>
        </div>

        <!-- Passenger Fields -->
        <div class="col-8">
          <label class="form-label" [for]="'name' + index">{{ 'booking.passengerForm.fields.name' | translate }}</label>
          <input
            [(ngModel)]="item.name"
            (blur)="onFieldBlur('name', item.name, index)"
            [class.is-invalid]="hasError('name', index)"
            class="form-control"
            [id]="'name' + index"
            [name]="'seat' + item.seat_name"
            placeholder="{{ 'booking.passengerForm.fields.name' | translate }}"
            required
            type="text">
          <div *ngIf="hasError('name', index)" class="invalid-feedback d-block">
            {{ formErrors['name' + index] }}
          </div>
        </div>

        <div class="col-4">
          <label class="form-label" [for]="'age' + index">{{ 'booking.passengerForm.fields.age' | translate }}</label>
          <input
            [(ngModel)]="item.age"
            (blur)="onFieldBlur('age', item.age, index)"
            [class.is-invalid]="hasError('age', index)"
            class="form-control"
            [id]="'age' + index"
            [name]="'age' + item.seat_name"
            placeholder="{{ 'booking.passengerForm.fields.age' | translate }}"
            required
            type="number">
          <div *ngIf="hasError('age', index)" class="invalid-feedback d-block">
            {{ formErrors['age' + index] }}
          </div>
        </div>

        <div class="col-4 mt-2">
          <label class="form-label" [for]="'gender' + index">{{ 'booking.passengerForm.fields.gender' | translate }}</label>
          <select
            [(ngModel)]="item.gender"
            (blur)="onFieldBlur('gender', item.gender, index)"
            [class.is-invalid]="hasError('gender', index)"
            class="form-select"
            [id]="'gender' + index"
            [name]="'gender' + item.seat_name"
            required>
            <option value="" selected disabled>Select Gender</option>
            <option value="F">Female</option>
            <option value="M">Male</option>
          </select>
          <div *ngIf="hasError('gender', index)" class="invalid-feedback d-block">
            {{ formErrors['gender' + index] }}
          </div>
        </div>

        <div class="col-8 mt-2">
          <label class="form-label" [for]="'id' + index">{{ 'booking.passengerForm.fields.idNo' | translate }}</label>
          <input
            [(ngModel)]="item.id_no"
            (blur)="onFieldBlur('id', item.id_no, index)"
            [class.is-invalid]="hasError('id', index)"
            class="form-control"
            [id] = "'id' + index"
            [name]="'id_no' + item.seat_name"
            placeholder="{{ 'booking.passengerForm.fields.idNo' | translate }}"
            required
            type="number">
          <div *ngIf="hasError('id', index)" class="invalid-feedback d-block">
            {{ formErrors['id' + index] }}
          </div>
        </div>

        <div class="col-7 mt-2">
          <label class="form-label" [for]="'email' + index">{{ 'booking.passengerForm.fields.email' | translate }}</label>
          <input
            [(ngModel)]="item.email"
            (blur)="onFieldBlur('email', item.email, index)"
            [class.is-invalid]="hasError('email', index)"
            class="form-control"
            [name]="'email' + item.seat_name"
            placeholder="{{ 'booking.passengerForm.fields.email' | translate }}"
            required
            email
            type="text">
          <div *ngIf="hasError('email', index)" class="invalid-feedback d-block">
            {{ formErrors['email' + index] }}
          </div>
        </div>

        <div class="col-5 mt-2">
          <label class="form-label" [for]="'nationality' + index">{{ 'booking.passengerForm.fields.nationality' | translate }}</label>
          <input
            [(ngModel)]="item.nationality"
            (blur)="onFieldBlur('nationality', item.nationality, index)"
            (ngModelChange)="onFieldBlur('nationality', $event, index)"
            [class.is-invalid]="hasError('nationality', index)"
            class="form-control"
            [name]="'nationality' + index"
            placeholder="Nationality"
            [typeahead]="nationalities"
            [typeaheadOptionField]="'value'"
            [dropup]="true"
            required
            type="text">

          <div *ngIf="hasError('nationality', index)" class="invalid-feedback d-block">
            {{ formErrors['nationality' + index] }}
          </div>

        </div>
        <div class="col-12 mt-2">
          <label class="form-label" [for]="'phone' + index">{{ 'booking.passengerForm.fields.phoneNumber' | translate }}</label>
          <div class="input-group">
            <select
              [(ngModel)]="item.mobileId"
              (blur)="onFieldBlur('mobileId', item.mobileId, index)"
              [class.is-invalid]="hasError('mobileId', index) || hasError('mobile', index)"
              class="form-select"
              [name]="'mobileId' + item.seat_name"
              style="max-width: 120px;"
              required>
              <option value="" disabled selected>Code</option>
              <option *ngFor="let code of country_codes" [value]="code.code">+{{ code.code }}</option>
            </select>
<!--            <span class="input-group-text"><i class="bi bi-telephone-plus"></i></span>-->
            <input
              [(ngModel)]="item.mobile"
              (blur)="onFieldBlur('mobile', item.mobile, index)"
              [class.is-invalid]="hasError('mobileId', index) || hasError('mobile', index)"
              class="form-control"
              [id]="'mobile' + index"
              [name]="'phone' + item.seat_name"
              placeholder="e.g 712345678"
              required
              type="tel">
          </div>
          <div *ngIf="hasError('mobileId', index)" class="invalid-feedback d-block">
            {{ formErrors['mobileId' + index] }}
          </div>
          <div *ngIf="hasError('mobile', index)" class="invalid-feedback d-block">
            {{ formErrors['mobile' + index] }}
          </div>
        </div>
        <!-- Travel Insurance -->
        <div class="card d-flex flex-column gap-3 p-3">
          <p class="fw-bold fs-4 mb-0">{{ 'booking.passengerForm.travelInsurance.title' | translate }}</p>
          <p class="mb-0">{{ 'booking.passengerForm.travelInsurance.subtitle' | translate }}</p>

          <div class="d-flex flex-column">
            <!-- No-insurance option -->
            <label class="row custom-bg rounded-4 p-3 mb-3" [ngClass]="{ 'border border-primary': getSelectedInsurance(index) === 'none' }">
              <div class="col-11">
                <p class="mb-0 fw-normal">{{ 'booking.passengerForm.travelInsurance.none' | translate }}</p>
              </div>
              <div class="col-1 d-flex justify-content-center align-items-center">
                <input type="radio" class="form-check-input custom-check" [name]="'insurance-passenger-' + index" value="none" (change)="onSelectNone(index)" [checked]="getSelectedInsurance(index) === 'none'" />
              </div>
            </label>

            <!-- Insurance options -->
            <label class="row custom-bg rounded-4 p-2 mb-3" *ngFor="let ins of travelInsurances" [ngClass]="{ 'border border-primary': getSelectedInsurance(index) === ins.name }">
              <div class="col-11">
                <div class="d-flex flex-column">
                  <div class="d-flex flex-row justify-content-between">
                    <p class="bg-info-emphasis fw-semibold mb-0">{{ ins.name }}</p>
                    <p class="bg-info-emphasis fw-semibold mb-0">KES {{ ins.price }}</p>
                  </div>
                  <div class="d-flex flex-row">
                    <p class="mb-0 small">{{ ins.description }}</p>
                    <p class="mb-0 custom-btn flex-shrink-0" (click)="showDialog(ins)">{{ 'booking.passengerForm.travelInsurance.benefits' | translate }}</p>
                  </div>
                </div>
              </div>
              <div class="col-1 d-flex justify-content-center align-items-center">
                <input type="radio" [name]="'insurance-passenger-' + index" class="form-check-input custom-check" [value]="ins.name" (change)="onSelect(ins.name, index)" [checked]="getSelectedInsurance(index) === ins.name" />
              </div>
            </label>
            <!-- Insurance Dialog -->
            <p-dialog header="{{ selectedInsurance?.name }} Benefits" [modal]="true" [(visible)]="dialog" [style]="{ width: '25rem' }">
              <ul class="list-disc pl-6 mb-6 text-sm">
                <li *ngFor="let b of selectedInsurance?.benefits">{{ b }}</li>
              </ul>
              <div class="flex justify-end gap-2">
                <p-button label="{{ 'booking.passengerForm.travelInsurance.dialog.close' | translate }}" severity="secondary" (click)="dialog = false"></p-button>
              </div>
            </p-dialog>



          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="container">
    <!-- Cancellation Fee -->
    <div class="col-12 col-md-8 col-lg-6 mb-3">
      <div class="d-flex justify-content-between align-items-center rounded-2 bg-custom shadow-sm py-1 px-3">
        <div class="p-2">
          <div class="d-flex flex-column">
            <p class="mb-0 fw-bold">{{ 'booking.passengerForm.cancellation.title' | translate }}</p>
            <p class="mb-0 text-dark">{{ 'booking.passengerForm.cancellation.fee' | translate }}</p>
          </div>
        </div>
        <div class="form-check form-switch">
          <input
            (change)="updateCancellationProtection($event)"
            [ngModel]="protectionInsuranceService.isCancellationProtection()"
            class="form-check-input custom-switch"
            id="cancellationSwitch"
            name="cancellationSwitch"
            type="checkbox"
          >
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!isSuccess" class="card-footer border-0 text-end">
    <button
      (click)="proceed()"
    [disabled]="passengerForm.invalid || hasFormErrors()"
      class="btn btn-primary py-2 px-3 rounded-pill">
      {{ 'booking.passengerForm.button.proceed' | translate }}
    </button>
  </div>
</div>

<div class="card-header border-0">
  <h5 class="card-title fw-semibold text-center">{{ 'booking.passengerForm.title' | translate }}</h5>

  <div class="d-flex flex-column flex-md-row gap-1 text-center text-md-start">
    <p class="mb-0 small">{{ 'booking.passengerForm.help' | translate }}</p>
    <a href="mailto:info@Travler.com" class="fw-medium text-decoration-none ms-md-2">
      {{ 'booking.passengerForm.contact' | translate:{email: email} }}
    </a>
  </div>
</div>
