<!--<div class="highlight row">-->
<!--    <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 col-lg-offset-2 col-md-offset-2">-->
<!--        <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6" style="color:#fff;padding-bottom: 25px">-->
<!--            <h3>Convinience on the go</h3>-->
<!--            <h5 style="padding: 0px 0 10px 0" class="hidden-xs">Download our mobile app</h5>-->
<!--            <div class="row">-->
<!--                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 margin-bottom-10" style="padding-left: 0"><a-->
<!--                        href="https://play.google.com/store/apps/details?id=com.ma3app" target="_blank"><img-->
<!--                            src="../assets/appstore.png" alt="" class="appstore"></a></div>-->
<!--                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding-left: 0"><a-->
<!--                        href="https://itunes.apple.com/us/app/Travler/id1452839437?ls=1&amp;mt=8" target="_blank"><img-->
<!--                            src="../assets/ios.png" alt="" style="width: 100%" class="appstore"></a></div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6" style="height: 201px;text-align: right"><img-->
<!--                src="../assets/phone.png" class="phone"></div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="banner-apps">-->
<!--  <div class="container">-->
<!--    <div class="d-flex flex-column justify-content-center gap-3 flex-lg-row justify-content-lg-around">-->
<!--      <div class="align-self-center align-self-lg-end ">-->
<!--        <img-->
<!--          width="300" height="192"-->
<!--          ngSrc="assets/WEBP/Travler%20iphone%20red%20half.webp">-->
<!--      </div>-->
<!--        <div class="d-flex gap-3 p-3 align-items-center justify-content-center">-->
<!--          <img width="226" height="81" ngSrc="assets/WEBP/googleapp.webp">-->
<!--          <img width="226" height="81" ngSrc="assets/WEBP/apple.webp">-->
<!--        </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div class="banner-apps">
  <div class="container">
    <div class="d-flex flex-column justify-content-center gap-3 flex-lg-row justify-content-lg-around">

      <!-- main banner image -->
      <div class="align-self-center align-self-lg-end text-center text-lg-start">
        <a href="https://play.google.com/store/apps/details?id=com.ma3app"
           target="_blank"
           rel="noopener noreferrer">
          <img
            src="assets/WEBP/travler-phone-compressed-removebg-preview.png"
            height="192"
            width="300"
            class="img-fluid"
            alt="App preview">
        </a>
      </div>

      <!-- app store buttons -->
      <div class="d-flex gap-3 p-3 align-items-center justify-content-center flex-wrap">
        <a href="https://play.google.com/store/apps/details?id=com.ma3app" target="_blank" rel="noopener noreferrer">
          <img src="assets/WEBP/googleapp.webp" class="img-fluid" style="max-width: 200px;" alt="Google Play">
        </a>
        <a href="https://apps.apple.com/ke/app/Travler/id1452839437" target="_blank" rel="noopener noreferrer">
          <img src="assets/WEBP/apple.webp" class="img-fluid" style="max-width: 200px;" alt="App Store">
        </a>
      </div>

    </div>
  </div>
</div>

