<!--<div class="footer text-white">-->
<!--  <div class="container">-->
<!--    <footer class="py-3">-->
<!--      <div class="d-flex flex-column flex-sm-row align-items-center justify-content-between gap-3 gap-md-0 mb-2">-->
<!--        <app-shared-logo></app-shared-logo>-->
<!--        <ul class="nav d-flex flex-wrap justify-content-between align-items-start align-items-md-center gap-3">-->
<!--          <li class="nav-item"><a href="#" class="nav-link p-0">Home</a></li>-->
<!--          <li class="nav-item"><a href="#" class="nav-link p-0">Features</a></li>-->
<!--          <li class="nav-item"><a href="#" class="nav-link p-0">Pricing</a></li>-->
<!--          <li class="nav-item"><a href="#" class="nav-link p-0">FAQs</a></li>-->
<!--          <li><a href="#" class="nav-link p-0">About</a></li>-->
<!--        </ul>-->
<!--        <div class="hstack justify-content-center gap-2">-->
<!--          <button class="btn btn-sm btn-icon">-->
<!--            <i class="bi bi-facebook"></i>-->
<!--          </button>-->
<!--          <button class="btn btn-sm btn-icon">-->
<!--            <i class="bi bi-linkedin"></i>-->
<!--          </button>-->
<!--          <button class="btn btn-sm btn-icon">-->
<!--            <i class="bi bi-twitter-x"></i>-->
<!--          </button>-->
<!--          <button class="btn btn-sm btn-icon">-->
<!--            <i class="bi bi-instagram"></i>-->
<!--          </button>-->
<!--        </div>-->
<!--      </div>-->

<!--      <p class="text-center text-md-center mb-0">© {{date | date:'yyyy'}}</p>-->
<!--    </footer>-->
<!--  </div>-->
<!--</div>-->

<!--<div>-->
<!--  <div class="ro">-->


<!--  </div>-->
<!--  <div></div>-->
<!--</div>-->



<!--<footer class="container">-->
<!--  <div class="footer-ticket text-white px-5 pb-4">-->


<!--    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center gap-4 pt-2">-->
<!--      <app-shared-logo></app-shared-logo>-->

<!--      <div class="text-center text-md-end">-->
<!--        <h2 class="h6 mb-3">Download App</h2>-->
<!--        <div class="d-flex gap-3">-->
<!--          <img width="100" height="auto" src="assets/googleapp.png">-->
<!--          <img width="100" height="auto" src="assets/apple.png">-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->


<!--    <ul class="nav justify-content-start ">-->
<!--      <li style="cursor: pointer" class="nav-item"><a class="nav-link cursor-pointer text-white  fw-medium" routerLink="/about">About iAbiri</a></li>-->
<!--      <li style="cursor: pointer" class="nav-item"><a class="nav-link cursor-pointer text-white  fw-medium" routerLink="/ticket">Print Ticket</a></li>-->
<!--      <li style="cursor: pointer" class="nav-item"><a class="nav-link cursor-pointer text-white  fw-medium" routerLink="/api">API</a></li>-->
<!--      <li style="cursor: pointer" class="nav-item"><a class="nav-link cursor-pointer text-white  fw-medium" routerLink="/contact">Get In Touch</a></li>-->

<!--    </ul>-->

<!--    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center gap-4 ">-->
<!--      <a class="text-white text-decoration-none fw-semibold" href="mailto:info@iabiri.com">-->
<!--        <i class="bi bi-envelope-fill me-2"></i>-->
<!--        info&#64;iabiri.com-->
<!--      </a>-->
<!--      <div class="d-flex gap-3">-->
<!--        <a class="text-white fs-5" href="#" aria-label="Facebook"><i class="bi bi-facebook"></i></a>-->
<!--        <a class="text-white fs-5" href="#" aria-label="Twitter"><i class="bi bi-twitter"></i></a>-->
<!--        <a class="text-white fs-5" href="#" aria-label="LinkedIn"><i class="bi bi-linkedin"></i></a>-->
<!--        <a class="text-white fs-5" href="#" aria-label="Instagram"><i class="bi bi-instagram"></i></a>-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->
<!--</footer>-->

<footer class="footer-ticket text-white px-2 pb-4">
  <div class="d-flex flex-column flex-md-row justify-content-between align-items-center gap-4 pt-2">
    <app-shared-logo></app-shared-logo>

    <div class="text-center text-md-end">
      <h2 class="h6 mb-3">Download App</h2>
      <div class="d-flex gap-3">
        <a href="https://play.google.com/store/apps/details?id=com.ma3app" target="_blank"
           rel="noopener noreferrer">
          <img height="auto" src="assets/googleapp.png" width="100">
        </a>
        <a href="https://apps.apple.com/ke/app/iabiri/id1452839437" target="_blank" rel="noopener noreferrer">
          <img height="auto" src="assets/apple.png" width="100">
        </a>
      </div>
    </div>
  </div>

  <ul class="nav justify-content-center mt-3">
    <li class="nav-item" style="cursor: pointer"><a class="nav-link cursor-pointer text-white fw-medium" routerLink="/about">About iAbiri</a></li>
    <li class="nav-item" style="cursor: pointer"><a class="nav-link cursor-pointer text-white fw-medium" routerLink="/ticket">Print Ticket</a></li>
    <li class="nav-item" style="cursor: pointer"><a class="nav-link cursor-pointer text-white fw-medium" routerLink="/contact">Get In Touch</a></li>
  </ul>

  <div class="d-flex flex-column flex-md-row justify-content-between align-items-center gap-4 ">
    <a class="text-white text-decoration-none fw-semibold" href="mailto:info@iabiri.com">
      <i class="bi bi-envelope-fill me-2"></i>
      info&#64;iabiri.com
    </a>
    <div class="d-flex gap-3">
      <a
        aria-label="Facebook"
        class="text-white fs-5" href="https://facebook.com/iAbiriOfficial"
        rel="noopener noreferrer" target="_blank"><i class="fs-4 bi bi-facebook"></i></a>
      <a
        aria-label="Twitter"
        class="text-white fs-5" href="https://x.com/iabiriofficial"
        rel="noopener noreferrer" target="_blank"><i class="fs-4 bi bi-twitter"></i></a>
      <a
        aria-label="LinkedIn"
        class="text-white fs-5" href="https://ke.linkedin.com/company/iabiri-official"
        rel="noopener noreferrer" target="_blank"><i class="fs-4 bi bi-linkedin"></i></a>
      <a
        aria-label="Instagram"
        class="text-white fs-5" href="https://www.instagram.com/iabiri_official"
        rel="noopener noreferrer" target="_blank"><i class="fs-4 bi bi-instagram"></i></a>
    </div>
  </div>
</footer>

