<footer class="footer-ticket text-white px-2 pb-4">
  <div class="d-flex flex-column flex-md-row justify-content-between align-items-center gap-4 pt-2">
    <app-shared-logo></app-shared-logo>

    <div class="text-center text-md-end">
      <h2 class="h6 mb-3">{{ 'footer.downloadApp' | translate }}</h2>
      <div class="d-flex gap-3">
        <a href="https://play.google.com/store/apps/details?id=com.ma3app" target="_blank"
           rel="noopener noreferrer">
          <img height="auto" src="assets/googleapp.png" width="100">
        </a>
        <a href="https://apps.apple.com/ke/app/Travler/id1452839437" target="_blank" rel="noopener noreferrer">
          <img height="auto" src="assets/apple.png" width="100">
        </a>
      </div>
    </div>
  </div>

  <ul class="nav justify-content-center mt-3">
    <li class="nav-item" style="cursor: pointer"><a class="nav-link cursor-pointer text-white fw-medium" routerLink="/about">{{ 'footer.links.about' | translate }}</a></li>
    <li class="nav-item" style="cursor: pointer"><a class="nav-link cursor-pointer text-white fw-medium" routerLink="/ticket">{{ 'footer.links.ticket' | translate }}</a></li>
    <li class="nav-item" style="cursor: pointer"><a class="nav-link cursor-pointer text-white fw-medium" routerLink="/contact">{{ 'footer.links.contact' | translate }}</a></li>
    <li class="nav-item" style="cursor: pointer"><a class="nav-link cursor-pointer text-white fw-medium" routerLink="/faqs">{{ 'footer.links.faqs' | translate }}</a></li>
    <li class="nav-item" style="cursor: pointer"><a class="nav-link cursor-pointer text-white fw-medium" routerLink="/terms">{{ 'footer.links.terms' | translate }}</a></li>
  </ul>

  <div class="d-flex flex-column flex-md-row justify-content-between align-items-center gap-4 ">
    <a class="text-white text-decoration-none fw-semibold" href="mailto:info@iabiri.com">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="me-2" style="display: inline-block; vertical-align: middle;"><rect width="20" height="16" x="2" y="4" rx="2"/><path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"/></svg>
      {{ 'footer.contact.email' | translate }}
    </a>
    <div class="d-flex gap-3">
      <a aria-label="Facebook" class="text-white fs-5" href="https://facebook.com/iabiriOfficial" rel="noopener noreferrer" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"/></svg>
      </a>
      <a aria-label="Twitter" class="text-white fs-5" href="https://x.com/iabiriofficial" rel="noopener noreferrer" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M22 4s-.7 2.1-2 3.4c1.6 10-9.4 17.3-18 11.6 2.2.1 4.4-.6 6-2C3 15.5.5 9.6 3 5c2.2 2.6 5.6 4.1 9 4-.9-4.2 4-6.6 7-3.8 1.1 0 3-1.2 3-1.2z"/></svg>
      </a>
      <a aria-label="LinkedIn" class="text-white fs-5" href="https://ke.linkedin.com/company/iabiri-official" rel="noopener noreferrer" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"/><rect width="4" height="12" x="2" y="9"/><circle cx="4" cy="4" r="2"/></svg>
      </a>
      <a aria-label="Instagram" class="text-white fs-5" href="https://www.instagram.com/iabiri_official" rel="noopener noreferrer" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect width="20" height="20" x="2" y="2" rx="5" ry="5"/><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"/><line x1="17.5" x2="17.51" y1="6.5" y2="6.5"/></svg>
      </a>
    </div>
  </div>
</footer>
