<div class="container px-4 partners-section">

  <!-- Section title -->
  <h3 class="fs-4 text-start pb-0 fw-bold section-title">
    {{ 'partners.heading' | translate }}
  </h3>

  <!-- Carousel -->
  <div id="partnersCarousel"
       class="carousel slide"
       data-bs-ride="carousel">

    <div class="carousel-inner">
      <!-- First slide (active) -->
      <div class="carousel-item active">
        <div class="d-flex gap-2 flex-wrap">
          <div
            routerLink="/search"
            *ngFor="let partner of partnerSlides[0]; let i = index"
            class="text-center">
            <div class="partner-circle shadow-sm">
              <img [src]="partner.logo" loading="lazy"
                   [alt]="partner.name + ' | online Booking'">
            </div>
            <p class="d-block mt-2">
              {{ partner.name }}
            </p>
          </div>
        </div>
      </div>

      <!-- Other slides -->
      <div class="carousel-item"
           *ngFor="let slide of partnerSlides.slice(1)">
        <div class="d-flex justify-content-center gap-4 flex-wrap">
          <div *ngFor="let partner of slide; let i = index"
               class="text-center">
            <div class="partner-circle shadow-sm">
              <img [src]="partner.logo" loading="lazy" [alt]="partner.name">
            </div>
            <p class="d-block mt-2">
              {{ partner.name }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Controls -->
    <button class="carousel-control-prev"
            type="button"
            data-bs-target="#partnersCarousel"
            data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next"
            type="button"
            data-bs-target="#partnersCarousel"
            data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
</div>
