<div class="container px-3 partners-section">
  <h3 class="fs-5 fw-bold text-start mb-3">
    {{ 'partners.heading' | translate }}
  </h3>

  <div class="row g-2 justify-content-center">
    <div
      class="col-3 text-center"
      *ngFor="let partner of partners"
      routerLink="/search"
    >
      <div class="partner-circle shadow-sm mx-auto">
        <img
          [src]="partner.logo"
          [alt]="partner.name"
          loading="lazy"
        />
      </div>
      <p class="partner-name mt-1">{{ partner.name }}</p>
    </div>
  </div>
</div>
