<div class="wallet-container">
  <div class="wallet-header">
    <div class="wallet-icon">
      <i class="bi bi-wallet2-fill"></i>
    </div>
    <div class="wallet-balance">
      <h2>KES 0.00</h2>
      <p>{{ 'walletPage.balance.title' | translate }}</p>
    </div>
    <div class="wallet-actions">
      <div class="row g-4">
        <div class="col-12">
          <div class="form-group">
            <form class="form" [formGroup]="voucherForm" (ngSubmit)="applyVoucher()">
              <label class="form-label" for="voucher">{{ 'walletPage.voucher.label' | translate }}</label>
              <input type="text"
                     formControlName="voucher"
                     class="form-control"
                     id="voucher"
                     [placeholder]="'walletPage.voucher.placeholder' | translate">
            </form>
          </div>
        </div>
        <div class="col-12">
          <button class="btn btn-primary rounded-pill" (click)="applyVoucher()">
            {{ 'walletPage.voucher.button' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="data-table-container">
    <table class="table">
      <thead>
      <tr>
        <th>{{ 'walletPage.table.headers.amount' | translate }}</th>
        <th>{{ 'walletPage.table.headers.status' | translate }}</th>
        <th>{{ 'walletPage.table.headers.comment' | translate }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="transactions.length === 0">
        <td colspan="3" class="text-center empty-state">
          <div class="empty-icon">
            <i class="bi bi-bank"></i>
          </div>
          <p>{{ 'walletPage.table.emptyState' | translate }}</p>
        </td>
      </tr>
      <tr *ngFor="let transaction of transactions">
        <td>{{ transaction.amount }}</td>
        <td>{{ transaction.status }}</td>
        <td>{{ transaction.comment }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
