
.bg-primary{
  background: linear-gradient(45deg, var(--primary-color-500), var(--primary-color-400));
  border: 1px solid var(--primary-color-500);
  color: white;
}

.bg-outline-info{
  border: 1px solid var(--primary-color-500);
  color: var(--primary-color-500);
  background-color: var(--primary-color-100);
}

.bg-active{
  background-color: var(--primary-color-500);
  color: white;
}
