<div class="app-container">

  <div class="row container">
    <div class="col-12">
      <div class="background-color shadow-sm p-4 rounded-3">

        <!-- Title -->
        <div>
          <p class="fw-semibold fs-4">
            Reset Password
          </p>
        </div>

        <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
          <div class="row align-items-end gy-3">

            <!-- New Password -->
            <div class="col-12 col-md-4 col-lg-3 ">
              <div class="d-flex flex-column">
                <label for="newPassword" class="form-label">
                  {{ 'changePassword.labels.newPassword' | translate }}:
                </label>
                <p-password
                  inputId="newPassword"
                  formControlName="newPassword"
                  [feedback]="true"
                  [toggleMask]="true"
                  inputStyleClass="w-100 form-control"
                  [promptLabel]="'changePassword.prompts.enterPassword' | translate"
                  [weakLabel]="'changePassword.prompts.weak' | translate"
                  [mediumLabel]="'changePassword.prompts.medium' | translate"
                  [strongLabel]="'changePassword.prompts.strong' | translate"
                  [placeholder]="'changePassword.placeholders.newPassword' | translate"
                  [ngClass]="{
        'ng-invalid ng-dirty':
          passwordForm.get('newPassword')?.invalid &&
          passwordForm.get('newPassword')?.touched
      }"
                ></p-password>

                <div
                  class="invalid-feedback d-block"
                  *ngIf="
        passwordForm.get('newPassword')?.invalid &&
        passwordForm.get('newPassword')?.touched
      "
                >
      <span *ngIf="passwordForm.get('newPassword')?.errors?.['required']">
        {{ 'changePassword.errors.newPasswordRequired' | translate }}
      </span>
                  <span *ngIf="passwordForm.get('newPassword')?.errors?.['minlength']">
        {{ 'changePassword.errors.newPasswordMinLength' | translate }}
      </span>
                </div>
              </div>
            </div>

            <!-- Confirm Password -->
            <div class="col-12 col-md-4 col-lg-3">
              <div class="flex-column d-flex">
                <label for="confirmPassword" class="form-label">
                  {{ 'changePassword.labels.confirmPassword' | translate }}:
                </label>
                <p-password
                  inputId="confirmPassword"
                  formControlName="confirmPassword"
                  [feedback]="false"
                  [toggleMask]="true"
                  inputStyleClass="w-100 form-control"
                  [placeholder]="'changePassword.placeholders.confirmPassword' | translate"
                  [ngClass]="{
        'ng-invalid ng-dirty':
          passwordForm.get('confirmPassword')?.invalid &&
          passwordForm.get('confirmPassword')?.touched
      }"
                ></p-password>

                <div
                  class="invalid-feedback d-block"
                  *ngIf="
        passwordForm.get('confirmPassword')?.invalid &&
        passwordForm.get('confirmPassword')?.touched
      "
                >
      <span *ngIf="passwordForm.get('confirmPassword')?.errors?.['required']">
        {{ 'changePassword.errors.confirmPasswordRequired' | translate }}
      </span>
                  <span *ngIf="passwordForm.get('confirmPassword')?.errors?.['mismatch']">
        {{ 'changePassword.errors.passwordMismatch' | translate }}
      </span>
                </div>
              </div>
            </div>

            <!-- Submit Button -->
            <div class="col-12 col-md-4 col-lg-3">
              <button
                type="submit"
                class="btn btn-primary rounded-pill"
                [disabled]="passwordForm.invalid"
              >
               Reset Password
              </button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>


</div>
