body {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  background: white;
  color: #333;
}

h1 {
  color: #2c3e50;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

ol {
  padding-left: 2rem;
}

li {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}
.section-container{
  //padding-top: 8rem;
}

.section-item {
  margin-bottom: 2rem;
}

.section-item h2 {
  color: #333;
  margin-bottom: 1rem;
}

.sublist-item {
  margin-bottom: 0.5rem;
}

.contact-line {
  margin-bottom: 0.5rem;
}

.last-updated {
  font-style: italic;
  color: #666;
  margin-bottom: 2rem;
}
