<div class="section-container">
    <div class="p-3">
      <h1>TICKET CONDITIONS</h1>
      <ol>
        <li>This ticket is valid for the time and date of travel only.</li>
        <li>The ticket cannot be altered, resold, transferred or refunded.</li>
        <li>If for any reason the holder fails to report before departure time, the company accepts no responsibility for such passenger.</li>
        <li>The ticket is treated as used if the holder fails to utilize it as indicated thereon.</li>
        <li>The ticket holder must report at the booking office 30 minutes before the time specified on the ticket.</li>
        <li>Drinking any alcohol, chewing miraa or smoking in the coach is prohibited.</li>
        <li>Luggage carried at owner's risk. The company cannot be held responsible for damage, losses or delay. Passengers are to take care of their own luggage.</li>
        <li>20kgs of luggage is allowed free. Additional will be accepted on charge if space permits.</li>
        <li>The management reserves the right to change the coach without prior notice or refund.</li>
        <li>If in case a passenger breaks his journey en-route no refund shall be made.</li>
        <li>A passenger is allowed free one baby only. Age limit 5 years.</li>
        <li>Passengers are requested to ensure correctness of the booking office as mistakes cannot be rectified later.</li>
        <li>Strictly no luggage should be passed through the window.</li>
        <li>The passenger should ensure that the amount paid is clearly indicated on the ticket as per one's destination.</li>
        <li>Time and date of booking should appear clearly on the ticket.</li>
      </ol>

    </div>
</div>
