<div class="section-container">
  <div class="p-3">
    <h1>{{ 'terms.title' | translate }}</h1>
    <ol>
      <li>{{ 'terms.conditions.1' | translate }}</li>
      <li>{{ 'terms.conditions.2' | translate }}</li>
      <li>{{ 'terms.conditions.3' | translate }}</li>
      <li>{{ 'terms.conditions.4' | translate }}</li>
      <li>{{ 'terms.conditions.5' | translate }}</li>
      <li>{{ 'terms.conditions.6' | translate }}</li>
      <li>{{ 'terms.conditions.7' | translate }}</li>
      <li>{{ 'terms.conditions.8' | translate }}</li>
      <li>{{ 'terms.conditions.9' | translate }}</li>
      <li>{{ 'terms.conditions.10' | translate }}</li>
      <li>{{ 'terms.conditions.11' | translate }}</li>
      <li>{{ 'terms.conditions.12' | translate }}</li>
      <li>{{ 'terms.conditions.13' | translate }}</li>
      <li>{{ 'terms.conditions.14' | translate }}</li>
      <li>{{ 'terms.conditions.15' | translate }}</li>
    </ol>
  </div>
</div>
