<div class="hero-section">
  <div class="container  text-center text-lg-start">
    <!-- Headline -->
    <h1 class="hero-text">
      Travel Smarter &<br class="d-none d-md-block" />
      save more with Iabiri
    </h1>

    <!-- Sub-headline -->
    <p class=" fs-5 text-white">
      Discover smarter routes, unbeatable deals, and a seamless<br class="d-none d-lg-block" />
      booking experience — all in one place. Travel better, for less.
    </p>

    <!-- Search card -->
    <div class="card shadow">
      <div class="card-body">
        <h3 class="mb-3 fw-bold fs-3 text-white mb-3">Book your bus with a single click</h3>
        <app-shared-search></app-shared-search>
      </div>
    </div>
  </div>
</div>
