<div class="account-details-container">
  <div class="profile-details">

    <!-- Edit Button -->
    <div class="edit-actions">
      <button class="btn btn-primary rounded-pill">
        {{ 'accountDetails.buttons.editProfile' | translate }}
      </button>
    </div>

    <div class="row">

      <!-- Personal Details -->
      <div class="col-12 col-md-6">
        <p class="fw-bold fs-5">{{ 'accountDetails.sections.personalDetails' | translate }}</p>
        <div class="info-section">
          <p><span class="fw-bold text-muted">{{ 'accountDetails.labels.name' | translate }}:</span> {{ userDetails.name }}</p>
          <p><span class="fw-bold text-muted">{{ 'accountDetails.labels.identity' | translate }}:</span> {{ userDetails.identityNumber }}</p>
          <p><span class="fw-bold text-muted">{{ 'accountDetails.labels.age' | translate }}:</span> {{ userDetails.age }}</p>
          <p><span class="fw-bold text-muted">{{ 'accountDetails.labels.gender' | translate }}:</span> {{ userDetails.gender }}</p>
        </div>
        <div class="col-12 col-lg-6">
          <div class="documents-section">
            <div class="document-card">
              <div class="document-placeholder">
                <img
                  style="width:100%; height:100%"
                  src="assets/ID.png" alt="{{ 'accountDetails.documents.businessPhotoAlt' | translate }}">
              </div>
            </div>
          </div>
      </div>

      <!-- Business Details -->
      <div class="col-12 col-md-6">
        <p class="fw-bold fs-5">{{ 'accountDetails.sections.businessDetails' | translate }}</p>
        <div class="info-section">
          <p><span class="fw-bold text-muted">{{ 'accountDetails.labels.businessName' | translate }}:</span> {{ userDetails.businessName }}</p>
          <p><span class="fw-bold text-muted">{{ 'accountDetails.labels.area' | translate }}:</span> {{ userDetails.area }}</p>
          <p><span class="fw-bold text-muted">{{ 'accountDetails.labels.county' | translate }}:</span> {{ userDetails.county }}</p>
          <p><span class="fw-bold text-muted">{{ 'accountDetails.labels.city' | translate }}:</span> {{ userDetails.city }}</p>
          <p><span class="fw-bold text-muted">{{ 'accountDetails.labels.road' | translate }}:</span> {{ userDetails.road }}</p>
        </div>
        <div class="col-12 col-lg-6">
          <div class="documents-section">
            <div class="document-card">
              <div class="document-placeholder">
                <img
                  style="width:100%; height:100%"
                  src="assets/ID.png" alt="Identity Photo">
              </div>
            </div>
          </div>
        </div>
<!--        <div class="documents-section">-->
<!--          <img src="" alt="{{ 'accountDetails.documents.businessPhotoAlt' | translate }}">-->
<!--        </div>-->
      </div>

      <!-- Contact Details -->
      <div class="col-12 col-md-6">
        <p class="fw-bold fs-5">{{ 'accountDetails.sections.contactDetails' | translate }}</p>
        <div class="info-section">
          <p><span class="fw-bold text-muted">{{ 'accountDetails.labels.email' | translate }}:</span> {{ userDetails.email }}</p>
          <p><span class="fw-bold text-muted">{{ 'accountDetails.labels.phone' | translate }}:</span> {{ userDetails.mobileNumber }}</p>
          <p><span class="fw-bold text-muted">{{ 'accountDetails.labels.address' | translate }}:</span> {{ userDetails.address }}</p>
        </div>
      </div>

      <!-- Change Password -->
      <div class="col-12 col-md-6 d-flex justify-content-end">
        <button routerLink="/user-profile/change-password" class="btn btn-primary rounded-pill">
          {{ 'accountDetails.buttons.changePassword' | translate }}
        </button>
      </div>

    </div>
  </div>
</div>
