<div class="section cta-section">
  <div class="container">
    <div class="section-title">
      <h1>Get started</h1>
    </div>
    <div class="row g-3">
      <div class="col-12 col-lg-6">
        <div class="card">
          <div class="card-body">
            <div class="d-flex align-items-center gap-3">
              <img
                src="https://img.freepik.com/free-vector/sales-banner-template_1176-108.jpg?t=st=1728130344~exp=1728133944~hmac=eb4e03a81ee58bbcbb1fcb4a47aa3afc1fe33f11c004074975ebca9720a97ac8&w=740"
                alt=""
                class="object-fit-contain rounded"
                width="80"
                height="80"
              >
              <div class="vstack justify-content-center">
                <h5 class="card-title">
                  Get your discount!
                </h5>
                <p class="card-text mb-0 small">Save up to 20% on select hotels with member prices.</p>
              </div>
            </div>
            <div class="d-flex justify-content-between mt-3">
              <app-component-link [href]="'#'" [title]="'Learn about discounts'"></app-component-link>
              <button class="btn btn-primary col-4">Sign in</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="card">
          <div class="card-body">
            <div class="d-flex align-items-center gap-3">
              <img
                src="https://img.freepik.com/free-vector/realistic-touristic-bus-illustration_98292-124.jpg?t=st=1728493965~exp=1728497565~hmac=527e50ee766f0cae6478f196957b20576a124f99cf6eeab05fb6df8ad51f6ea5&w=740"
                alt=""
                class="object-fit-contain rounded"
                width="80"
                height="80"
              >
              <h5 class="card-title">
                First-time app users get up to $40† off our fees on flights
              </h5>
              <img
                src="https://img.freepik.com/free-vector/scan-me-qr-code_78370-2915.jpg?t=st=1728130582~exp=1728134182~hmac=6f83545ce80cae4d97f1b1861e0ff9c7ab9181b284ce6ed3442c99706e6df9a7&w=740"
                alt=""
                class="object-fit-contain"
                width="80"
                height="80"
              >
            </div>
            <div class="d-flex justify-content-between align-items-center mt-3">
              <app-component-link [href]="'#'" [title]="'Learn more'"></app-component-link>
              <p class="card-text">Valid until Dec 31</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
